<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="风落花语风落天，花落风雨花落田.">
  <meta property="og:url" content="https://honmaple.me/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="紅楓吟">
    <meta property="og:description" content="风落花语风落天，花落风雨花落田.">
    <title>紅楓吟 · 风落花语风落天，花落风雨花落田.</title>
    <link rel="canonical" href="https://honmaple.me/index3.html" />
      <link href="https://s.libforest.com/static/css/lib.min.css" rel="stylesheet">
        <link href="https://honmaple.me/static/lib/css/style.min.css" rel="stylesheet">
      <script src="https://honmaple.me/static/lib/js/before.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNGNDGB8F8"></script>
  <script>
     window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'G-YNGNDGB8F8');
  </script>

</head>
  <body>
    <div class="scrollbar"></div>

    <div class="wrapper"><nav class="entry-navbar">
  <div class="entry-navbar-top">
    <a href="https://honmaple.me">
      <img class="entry-navbar-logo" src="https://s.libforest.com/images/header/header-logo.png" alt="楓">
    </a>
      <p class="entry-navbar-text">—— 风落花语风落天，花落风雨花落田.</p>
    <button class="entry-navbar-collapse" data-target=".entry-navbar-bottom" data-toggle="collapse">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </button>
  </div>
  <div class="entry-navbar-bottom">
    <ul class="entry-navbar-menu">
          <li class="entry-dropdown">
            <a href="https://honmaple.me/categories/tech/index.html">技术分享</a>
            <ul class="entry-dropdown-content">
                <li><a href="https://honmaple.me/categories/tech/coding/index.html">代码世界</a></li>
                <li><a href="https://honmaple.me/categories/tech/geek/index.html">极客安全</a></li>
                <li><a href="https://honmaple.me/categories/tech/linux/index.html">字符艺术</a></li>
            </ul>
          </li>
          <li class="entry-dropdown">
            <a href="https://honmaple.me/categories/life/index.html">生活随笔</a>
            <ul class="entry-dropdown-content">
                <li><a href="https://honmaple.me/categories/life/love/index.html">你不懂我</a></li>
                <li><a href="https://honmaple.me/categories/life/recall/index.html">我不怪你</a></li>
            </ul>
          </li>
          <li><a href="https://honmaple.me/pages/memos.html">闲言碎语</a></li>
          <li class="entry-dropdown">
            <a href="https://honmaple.me/archives/index.html">文章归档</a>
            <ul class="entry-dropdown-content">
                <li><a href="https://honmaple.me/tags/index.html">标签</a></li>
                <li><a href="https://honmaple.me/categories/index.html">分类</a></li>
                <li><a href="https://honmaple.me/authors/index.html">作者</a></li>
            </ul>
          </li>
          <li><a href="https://honmaple.me/pages/about.html">关于</a></li>
    </ul>
    <form class="entry-navbar-form" action="https://honmaple.me/search.html">
      <input name="q" type="text" onfocus="this.placeholder='搜索'" onblur="this.placeholder=''" />
      <i class="fa fa-search"></i>
    </form>
  </div>
</nav>

  <ul class="entry-section">
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/11/Emacs笔记之minibuffer默认输入.html" rel="bookmark" title="Permalink to Emacs笔记之minibuffer默认输入">Emacs笔记之minibuffer默认输入</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2023-02-24">
          <i class="fa fa-calendar-o"></i>
          2021年11月25日 周四
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/emacs/index.html">Emacs</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/emacs/index.html">emacs</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<blockquote>
<p>
在使用 <b>evil-ex</b>，也就是冒号+命令时，有一个非常有趣的功能，输入冒号后，<b>minibuffer</b> 会显示上一次执行的命令，比如 <code>:wq</code>, 确认可以直接执行这个命令，但是输入任意字符，就会把原先的 <code>wq</code> 直接覆盖，接收新的命令输入
</p>
</blockquote>

<p>
我觉得这是一个非常有趣且有用的功能，像 <code>read-string</code> 函数，如果我想要一个默认的输入，可以直接使用
</p>
<pre style="color:#f8f8f2;background-color:#272822">(let ((input (<span style="color:#a6e22e">read-string</span> <span style="color:#e6db74">&#34;</span><span style="color:#e6db74">prompt: </span><span style="color:#e6db74">&#34;</span> <span style="color:#e6db74">&#34;</span><span style="color:#e6db74">默认内容</span><span style="color:#e6db74">&#34;</span>)))
  (<span style="color:#a6e22e">message</span> input))</pre>
<p>
但我想覆盖这个默认...</p>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/11/Emacs笔记之minibuffer默认输入.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/10/Emacs自动插入更新文件头——maple-header.html" rel="bookmark" title="Permalink to Emacs自动插入更新文件头——maple-header">Emacs自动插入更新文件头——maple-header</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2023-04-06">
          <i class="fa fa-calendar-o"></i>
          2021年10月06日 周三
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/emacs/index.html">Emacs</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/emacs/index.html">emacs</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<blockquote>
<p>
一个简单的插件，可以在文件创建时自动插入文件头，或者文件更新时自动更新文件头信息，虽然已经用了好几年，这次把相关代码提取并精简一下做成了插件 <a href="https://github.com/honmaple/emacs-maple-header">maple-header</a>
</p>
</blockquote>

<h1 id="heading-1">安装</h1>
<h2 id="heading-1.1">使用quelpa</h2>
<pre style="color:#f8f8f2;background-color:#272822">(use-package maple-header
  :quelpa (:fetcher github :repo <span style="color:#e6db74">&#34;</span><span style="color:#e6db74">honmaple/emacs-maple-header</span><span style="color:#e6db74">&#34;</span>)
  :hook (after-init <span style="color:#f92672">.</span> maple-header-mode))</pre>
<h2 id="heading-1.2">克隆到本地</h2>
<pre style="color:#f8f8f2;background-color:#272822">git clone https://github.com/honmaple...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/10/Emacs自动插入更新文件头——maple-header.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/08/Docker笔记之registry清理.html" rel="bookmark" title="Permalink to Docker笔记之registry清理">Docker笔记之registry清理</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2021-09-02">
          <i class="fa fa-calendar-o"></i>
          2021年08月23日 周一
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/docker/index.html">docker</a>
              <a href="https://honmaple.me/tags/registry/index.html">registry</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<blockquote>
<p>
尝试了几种方式, 算是找到了一个比较方便的清理docker registry的方式
</p>
</blockquote>

<h1 id="heading-1">前言</h1>
<p>
  两年前分给了 <b>docker registry</b> 1T的磁盘，虽然有预感磁盘空间会被用完, 没想过能够坚持这么久。
  而且期间一直想把 <b>registry</b> 迁移到 <b>harbor</b>，也能对不同账户的权限进行分配和限制，但几百G的磁盘占用也不好迁移，所以一直被耽搁(迁移方式都准备好了 <a href="https://blog.k8s.li/docker-registry-to-harbor.html">https://blog.k8s.li/docker-registry-to-harbor.html</a>)
</p>

<h1 id="heading-2">清理</h1>
<h2 id="heading-2.1">列出所有镜像</h2>
<pre style="color:#f8f8f2;background-color:#272822">registry garbage-collect --dry-run /etc/docker...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/08/Docker笔记之registry清理.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/07/K8S笔记之ingress增加验证.html" rel="bookmark" title="Permalink to K8S笔记之ingress增加验证">K8S笔记之ingress增加验证</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2021-09-02">
          <i class="fa fa-calendar-o"></i>
          2021年07月13日 周二
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/k8s/index.html">k8s</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">创建账户密码</h2>
<ul>
<li>
<p>
 生成密码
</p>
<pre style="color:#f8f8f2;background-color:#272822">PASSWORD<span style="color:#f92672">=</span><span style="color:#66d9ef">$(</span>base64 &lt; /dev/urandom | head -c8<span style="color:#66d9ef">)</span>; echo <span style="color:#e6db74">&#34;</span>$PASSWORD<span style="color:#e6db74">&#34;</span></pre></li>
<li>
<p>
 生成hash值
</p>
<pre style="color:#f8f8f2;background-color:#272822">docker run --rm --entrypoint htpasswd httpd:2 -Bbn username password &gt;&gt; auth</pre>
</li>
</ul>
<h2 id="heading-2">修改ingress</h2>
<pre style="color:#f8f8f2;background-color:#272822">nginx.ingress.kubernetes.io/auth...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/07/K8S笔记之ingress增加验证.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/06/flutter笔记之初体验.html" rel="bookmark" title="Permalink to flutter笔记之初体验">flutter笔记之初体验</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-10-03">
          <i class="fa fa-calendar-o"></i>
          2021年06月05日 周六
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/flutter/index.html">Flutter</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/flutter/index.html">flutter</a>
              <a href="https://honmaple.me/tags/android/index.html">android</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">安装</h2>
<h3 id="heading-1.1">安装flutter</h3>
<ul>
<li>
<p>
 首先下载flutter包, 解压到 <code>~/repo</code> 目录,并配置 <code>~/.bashrc</code>
</p>
<pre style="color:#f8f8f2;background-color:#272822">export PATH<span style="color:#f92672">=</span>$PATH:$HOME/repo/flutter/bin</pre>
</li>
<li>
<p>
 <code>source ~/.bashrc</code>使其生效
</p>
<blockquote>
<p>
      注意：首次运行flutter，macos可能会提示无法打开dart，需要到 <code>系统偏好 -&gt; 安全性与隐私</code> 点击允许
</p>
</blockquote>

<pre style="color:#f8f8f2;background-color:#272822">└──╼ flutter --version
Flutter 2.2...</pre></li></ul>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/06/flutter笔记之初体验.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/05/GNS3笔记.html" rel="bookmark" title="Permalink to GNS3笔记">GNS3笔记</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2021-11-24">
          <i class="fa fa-calendar-o"></i>
          2021年05月11日 周二
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/gns3/index.html">gns3</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">GNS3 VM导入</h2>
<pre style="color:#f8f8f2;background-color:#272822">virt-install  --name gns3  --memory <span style="color:#ae81ff">8192</span>  --vcpus <span style="color:#ae81ff">4</span>  --disk /home/kvm/GNS3/GNS3VM-disk001.qcow2  --disk /home/kvm/GNS3/GNS3VM-disk002.qcow2  --import --virt-type kvm --os-type linux --os-variant ubuntu18.04 --network...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/05/GNS3笔记.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/04/公共DNS.html" rel="bookmark" title="Permalink to 公共DNS">公共DNS</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2023-07-27">
          <i class="fa fa-calendar-o"></i>
          2021年04月14日 周三
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/life/index.html">Life</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/dns/index.html">dns</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<table>

<tr>
<th>提供商</th>
<th>IPv4</th>
<th>IPv6</th>
<th>DoH/DoT</th>
</tr>

<tr>
<td>百度DNS</td>
<td>180.76.76.76</td>
<td>2400:da00::6666</td>
<td></td>
</tr>
<tr>
<td>阿里DNS</td>
<td>223.5.5.5,223.6.6.6</td>
<td>2400:3200::1,2400:3200:baba::1</td>
<td>dns.alidns.com</td>
</tr>
<tr>
<td>谷歌DNS</td>
<td>8.8.8...</td></tr></table>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/04/公共DNS.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/04/时代.html" rel="bookmark" title="Permalink to 时代">时代</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2023-03-08">
          <i class="fa fa-calendar-o"></i>
          2021年04月07日 周三
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/life/index.html">Life</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/life/index.html">life</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<div style="text-align:center;">

  <meting-js server="netease" type="song" id="30841464"></meting-js>
<script type="text/javascript">
 if (!shortcodes) {
     var shortcodes = {};
 }
 if (!shortcodes["music"] && document.querySelector("meting-js")) {
     var meting_api = 'https://api.honmaple.com/meting?server=:server&type=:type&id=:id&auth=:auth&r=:r';

     shortcodes.loadJS("https://honmaple.me/static/lib/js/APlayer.min.js", false, true);
     shortcodes.loadJS("https://honmaple.me/static/lib/js/Meting.min.js", false, true);

     shortcodes.loadCSS("https://honmaple.me/static/lib/css/APlayer.min.css");
     shortcodes.loadCSS("https://honmaple.me/static/css/aplayer.css");
 }
 shortcodes["music"] = true;
</script>
</div>

<blockquote>
<div style="text-align:center;">
<p>
有时候总是忍不住思考<br/>我是不是把自己隐私保护的太好<br/>以至于在这个时代<br/>一个最好也是最坏的时代<br/>感到那么的不适应<br/>...
</p>
</div>
</blockquote>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/04/时代.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/03/python2升级至python3.html" rel="bookmark" title="Permalink to python2升级至python3">python2升级至python3</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2021-07-07">
          <i class="fa fa-calendar-o"></i>
          2021年03月22日 周一
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/python/index.html">Python</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/python/index.html">python</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<blockquote>
<p>
首先使用工具 <b>2to3</b> 转换
</p>
<pre style="color:#f8f8f2;background-color:#272822">2to3 目录名 -w -n</pre>
</blockquote>

<h2 id="heading-1">print</h2>
<p>
   <a href="https://stackoverflow.com/questions/55559825/how-to-fix-print-double-parentheses-after-2to3-conversion">https://stackoverflow.com/questions/55559825/how-to-fix-print-double-parentheses-after-2to3-conversion</a>
</p>
<ul>
<li>
<p>
 问题:
     如果在python2项目里使用了python3的写法，比如在 <b>python2</b> 里的 <code>print(&#34;test&#34;)</code>, 使用 <b>2to3</b> 就会转换成
</p>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#66d9ef">print</span>((<span style="color:#e6db74"></span><span style="color:#e6db74">&#34;...</span></pre></li></ul>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/03/python2升级至python3.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2021/03/pyenv笔记.html" rel="bookmark" title="Permalink to pyenv笔记">pyenv笔记</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2021-03-18">
          <i class="fa fa-calendar-o"></i>
          2021年03月18日 周四
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/python/index.html">Python</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h1 id="heading-1">常见问题</h1>

<h2 id="heading-1.1">pyenv install 3.6.7 失败</h2>
<blockquote>
<ul>
<li>
<p>
 环境: macOs big Sur 11.2.2
</p></li>
<li>
<p>
 pyenv: 1.2.23
</p></li>
</ul>
</blockquote>

<h3 id="heading-1.1.1">相关日志</h3>
<pre style="color:#f8f8f2;background-color:#272822">┌─[jianglin]─[~/repo/golang/src/alarm](master)
└──╼ pyenv install 3.6.7
python-build...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2021/03/pyenv笔记.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/09/golang笔记之struct转map性能比较.html" rel="bookmark" title="Permalink to golang笔记之struct转map性能比较">golang笔记之struct转map性能比较</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-04-03">
          <i class="fa fa-calendar-o"></i>
          2020年09月21日 周一
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/go/index.html">Go</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/golang/index.html">golang</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">测试代码</h2>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#f92672">package</span> <span style="color:#a6e22e">main</span>

<span style="color:#f92672">import</span> (
    <span style="color:#e6db74">&#34;encoding/json&#34;</span>
    <span style="color:#e6db74">&#34;reflect&#34;</span>
    <span style="color:#e6db74">&#34;testing&#34;</span>
)

<span style="color:#66d9ef">type</span> <span style="color:#a6e22e">A</span> <span style="color:#66d9ef">struct</span> {
    <span style="color:#a6e22e">A</span> <span style="color:#66d9ef">string</span>   <span style="color:#e6db74">`</span><span style="color:#e6db74">json:&#34;a&#34;</span><span style="color:#e6db74">`</span>
    <span style="color:#a6e22e">B</span> <span style="color:#66d9ef">string</span>   <span style="color:#e6db74">`</span><span style="color:#e6db74">json:&#34;b&#34;</span><span style="color:#e6db74">`</span>
    <span style="color:#a6e22e">C</span> <span style="color:#66d9ef">int</span>      <span style="color:#e6db74">`...</span></pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/09/golang笔记之struct转map性能比较.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/09/rust笔记.html" rel="bookmark" title="Permalink to rust笔记">rust笔记</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-08-21">
          <i class="fa fa-calendar-o"></i>
          2020年09月08日 周二
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/rust/index.html">Rust</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/rust/index.html">rust</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">安装</h2>
<ul>
<li>
<p>
 安装
</p>
<pre style="color:#f8f8f2;background-color:#272822">└──╼ brew install rustup
└──╼ rustup-init
......
1<span style="color:#f92672">)</span> Proceed with installation <span style="color:#f92672">(</span>default<span style="color:#f92672">)</span>
2<span style="color:#f92672">)</span> Customize installation
3<span style="color:#f92672">)</span> Cancel installation
&gt;1</pre>
</li>
<li>
<p>
 配置 <b>rust</b> 目录
</p>
<pre style="color:#f8f8f2;background-color:#272822">└──╼ mkdir $HOME/repo/rust
└──╼ mv $HOME/.rustup $HOME/repo...</pre></li></ul>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/09/rust笔记.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/09/K8S笔记之集群管理.html" rel="bookmark" title="Permalink to K8S笔记之集群管理">K8S笔记之集群管理</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-08-29">
          <i class="fa fa-calendar-o"></i>
          2020年09月02日 周三
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/index.html">Linux</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/k8s/index.html">k8s</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">pod</h2>
<h3 id="heading-1.1">查看对外开放pod和port</h3>
<pre style="color:#f8f8f2;background-color:#272822">kubectl get svc --all-namespaces | grep -v ClusterIP</pre>

<pre style="color:#f8f8f2;background-color:#272822">kubectl get svc --all-namespaces -o go-template=&#39;{{range .items}}{{ $save := . }}{{range.spec.ports}}{{if .nodePort}}{{$save.metadata.namespace}}{{&#34;/&#34;}}{{$save.metadata...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/09/K8S笔记之集群管理.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/08/golang笔记之interface类型判断性能.html" rel="bookmark" title="Permalink to golang笔记之interface类型判断性能">golang笔记之interface类型判断性能</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-04-03">
          <i class="fa fa-calendar-o"></i>
          2020年08月21日 周五
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/coding/go/index.html">Go</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/golang/index.html">golang</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">测试代码</h2>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#f92672">package</span> <span style="color:#a6e22e">main</span>

<span style="color:#f92672">import</span> <span style="color:#e6db74">&#34;testing&#34;</span>

<span style="color:#66d9ef">type</span> <span style="color:#a6e22e">InterfaceA</span> <span style="color:#66d9ef">interface</span> {
    <span style="color:#a6e22e">AA</span>()
}

<span style="color:#66d9ef">type</span> <span style="color:#a6e22e">InterfaceB</span> <span style="color:#66d9ef">interface</span> {
    <span style="color:#a6e22e">BB</span>()
}

<span style="color:#66d9ef">type</span> <span style="color:#a6e22e">A</span> <span style="color:#66d9ef">struct</span> {
    <span style="color:#a6e22e">v</span> <span style="color:#66d9ef">int</span>
}

<span style="color:#66d9ef">func</span> (<span style="color:#a6e22e">a</span> <span style="color:#f92672">*</span><span style="color:#a6e22e">A</span>) <span style="color:#a6e22e">AA</span>() {
    <span style="color:#a6e22e">a</span>.<span style="color:#a6e22e">v</span> <span style="color:#f92672">+=</span> <span style="color:#ae81ff">1</span>
}

<span style="color:#66d9ef">func</span> <span style="color:#a6e22e">BenchmarkTypeSwitch</span>(<span style="color:#a6e22e">b</span> <span style="color:#f92672">*</span><span style="color:#a6e22e">testing</span>.<span style="color:#a6e22e">B</span>) {
    <span style="color:#66d9ef">var</span> <span style="color:#a6e22e">a</span> =...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/08/golang笔记之interface类型判断性能.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/02/K8S笔记之私有仓库搭建.html" rel="bookmark" title="Permalink to K8S笔记之私有仓库搭建">K8S笔记之私有仓库搭建</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2020-08-09">
          <i class="fa fa-calendar-o"></i>
          2020年02月20日 周四
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/k8s/index.html">k8s</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h1 id="heading-1">创建PV</h1>
<p>
  关于PV的创建参考 《K8S笔记之持久化存储》
</p>

<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#66d9ef">apiVersion</span>: v1
<span style="color:#66d9ef">kind</span>: PersistentVolumeClaim
<span style="color:#66d9ef">metadata</span>:
  <span style="color:#66d9ef">name</span>: docker-claim
<span style="color:#66d9ef">spec</span>:
  <span style="color:#66d9ef">accessModes</span>:
    - ReadWriteOnce
  <span style="color:#66d9ef">resources</span>:
    <span style="color:#66d9ef">requests</span>:
      <span style="color:#66d9ef">storage</span>: 80Gi
  <span style="color:#66d9ef">storageClassName</span>: local-volume</pre>

<h1 id="heading-2">搭建仓库</h1>
<p>
  Docker 私有化仓库的搭建可参考官方文档, 并且将相关的配置转化为K8S所需要的yaml文件
</p>
<pre style="color:#f8f8f2;background-color:#272822">---
<span style="color:#66d9ef">apiVersion</span>: v1
<span style="color:#66d9ef">kind</span>: ReplicationController
<span style="color:#66d9ef">metadata</span>:
  <span style="color:#66d9ef">name</span>: registry
  <span style="color:#66d9ef">namespace</span>: default
  <span style="color:#66d9ef">labels</span>:
    <span style="color:#66d9ef">k8s...</span></pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/02/K8S笔记之私有仓库搭建.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/01/K8S笔记之常见问题.html" rel="bookmark" title="Permalink to K8S笔记之常见问题">K8S笔记之常见问题</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-08-29">
          <i class="fa fa-calendar-o"></i>
          2020年01月10日 周五
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/index.html">Linux</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/k8s/index.html">k8s</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h2 id="heading-1">修改dashboard显示语言为中文</h2>
<ul>
<li>
<p>
 修改浏览器语言:
     dashboard的显示语言会根据浏览器的语言自动切换，但需要注意的是chrome需要切换语言为 <b>中文</b> 而不是 <b>中文（简体）</b>
</p>
</li>
<li>
<p>
 设置环境变量(推荐):
     修改dashboard的<b>Deployments</b> yaml文件, 添加环境变量
</p>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#66d9ef">containers</span>:
  ...
  <span style="color:#66d9ef">ports</span>:
    - <span style="color:#66d9ef">containerPort</span>: <span style="color:#ae81ff">8443</span>
      ...
      <span style="color:#66d9ef">env</span>:
        - <span style="color:#66d9ef">name</span>: ACCEPT_LANGUAGE
          <span style="color:#66d9ef">value</span>: zh</pre>
</li>
</ul>
<h2 id="heading-2">获取token</h2>
<p>
   获取名为 <b>admin</b> 的账号 <b>token</b>
</p>
<pre style="color:#f8f8f2;background-color:#272822">kubectl -n kube-system describe secret <span style="color:#66d9ef">$...</span></pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/01/K8S笔记之常见问题.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/01/KVM笔记之磁盘扩容.html" rel="bookmark" title="Permalink to KVM笔记之磁盘扩容">KVM笔记之磁盘扩容</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2020-12-17">
          <i class="fa fa-calendar-o"></i>
          2020年01月09日 周四
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/kvm/index.html">kvm</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h1 id="heading-1">磁盘扩容</h1>
<h2 id="heading-1.1">关闭KVM虚拟机</h2>
<pre style="color:#f8f8f2;background-color:#272822">virsh shutdown vm-ubuntu-04</pre>

<h2 id="heading-1.2">扩容磁盘</h2>
<h3 id="heading-1.2.1">查看磁盘位置</h3>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#75715e"># virsh domblklist vm-ubuntu-04</span>
Target     Source
------------------------------------------------
vda        /home/kvm/images/ubuntu-04.qcow2</pre>

<h3 id="heading-1.2.2">查看磁盘信息</h3>
<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#75715e"># qemu-img info /home/kvm/images/ubuntu-04.qcow2</span>
image: /home/kvm...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/01/KVM笔记之磁盘扩容.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2020/01/KVM笔记之增量镜像.html" rel="bookmark" title="Permalink to KVM笔记之增量镜像">KVM笔记之增量镜像</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2020-08-09">
          <i class="fa fa-calendar-o"></i>
          2020年01月06日 周一
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/index.html">Tech</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/kvm/index.html">kvm</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<h1 id="heading-1">增量镜像</h1>
<p>
  增量镜像即保持一个基础的镜像不变，在此基础镜像上安装或修改相应的服务所创建的一个单独的镜像，增量镜像类似GIT，只记录当前KVM的修改记录，这样可以节省磁盘空间，快速复制虚拟机
</p>

<h2 id="heading-1.1">基础环境准备</h2>
<ul>
<li>
<p>
 KVM基础环境
</p></li>
<li>
<p>
 基础镜像 <b>ubuntu-base.qcow2</b>
</p>
</li>
</ul>
<h2 id="heading-1.2">创建增量镜像</h2>
<p>
   首先基于基础镜像 <b>ubuntu-base.qcow2</b> 创建一个增量镜像 <b>ubuntu-test.qcow2</b>
</p>

<pre style="color:#f8f8f2;background-color:#272822"><span style="color:#f92672">(</span>宿主机<span style="color:#f92672">)</span> <span style="color:#75715e"># qemu-img info /home/kvm/images/ubuntu-base.qcow2</span>
image: ubuntu-base.qcow2...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2020/01/KVM笔记之增量镜像.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2019/11/Emacs快速创建侧边栏——maple-explorer.html" rel="bookmark" title="Permalink to Emacs快速创建侧边栏——maple-explorer">Emacs快速创建侧边栏——maple-explorer</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-04-03">
          <i class="fa fa-calendar-o"></i>
          2019年11月09日 周六
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/emacs/index.html">Emacs</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/emacs/index.html">emacs</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<p>
闲着没事又造了一个轮子，:smile:
</p>
<blockquote>
<p>
<b>maple-explorer</b> 是一个用于快速创建类似neotree文件浏览，或者类似maple-imenu的变量函数浏览的侧边栏的插件，让每个人都能写一个属于自己的侧边栏
</p>

<p>
<a href="https://github.com/honmaple/emacs-maple-explorer">emacs-maple-explorer</a>
</p>
</blockquote>

<ul>
<li>
<p>
 快速创建一个侧边栏: 只需要定义一个<code>maple-explorer-NAME-list</code>的函数，并且返回一个列表
</p>
<pre style="color:#f8f8f2;background-color:#272822">(<span style="color:#a6e22e">list</span>
 :name name
 :value value
 :face face
 :click click
 :status <span style="color:#e6db74">&#39;close</span> <span style="color:#75715e">;; or &#39;open</span>
 :children <span style="color:#f92672">&#39;...</span></pre></li></ul>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2019/11/Emacs快速创建侧边栏——maple-explorer.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li>
        <article class="entry-article">
          <div class="entry-article-header">
    <h1 class="entry-article-title">
      <a href="https://honmaple.me/articles/2019/09/Emacs下一键执行代码(可输入)——maple-run.html" rel="bookmark" title="Permalink to Emacs下一键执行代码(可输入)——maple-run">Emacs下一键执行代码(可输入)——maple-run</a>
    </h1>
      <div class="entry-article-info">
        <span title="Updated at 2024-04-03">
          <i class="fa fa-calendar-o"></i>
          2019年09月17日 周二
        </span>
          <span>|</span>
          <span>
            <i class="fa fa-folder-o"></i>
            分类
              <a href="https://honmaple.me/categories/tech/linux/emacs/index.html">Emacs</a>
          </span>
          <span>|</span>
          <span>
            <i class="fa fa-bookmark-o"></i>
            标签
              <a href="https://honmaple.me/tags/linux/index.html">linux</a>
              <a href="https://honmaple.me/tags/emacs/index.html">emacs</a>
          </span>
      </div>
  </div>
          <hr class="entry-article-hr" />
          <div class="entry-article-content no-tables">
            
<p>
之前一直使用<b>quickrun</b>来执行一些代码片段，但<b>quickrun</b>有一个问题就是无法输入，比如python代码
</p>
<pre style="color:#f8f8f2;background-color:#272822">a <span style="color:#f92672">=</span> input(<span style="color:#e6db74"></span><span style="color:#e6db74">&#34;</span><span style="color:#e6db74">aaaaa: </span><span style="color:#e6db74">&#34;</span>)
<span style="color:#66d9ef">print</span>(a)</pre>
<p>
需要建立一个<b>qrinput</b>的文件，太过麻烦，所以我平时测试一些需要输入的python代码时会使用
</p>

<pre style="color:#f8f8f2;background-color:#272822">(defun maple/run-python ()
  (interactive)
  (or (python-shell-get-process) (<span style="color:#a6e22e">call-interactively</span> <span style="color:#e6db74">&#39;run-python</span>))
  (if...</pre>
          </div>
          <div class="entry-btn">
            <a href="https://honmaple.me/articles/2019/09/Emacs下一键执行代码(可输入)——maple-run.html">阅读全文 »</a>
          </div>
        </article>
      </li>
      <li><ul class="entry-pagination">
    <li class="prev"><a href="https://honmaple.me/index2.html">&laquo;</a></li>
        <li><a href="https://honmaple.me/index.html">1</a></li>
        <li><a href="https://honmaple.me/index2.html">2</a></li>
        <li class="active"><a href="https://honmaple.me/index3.html">3</a></li>
        <li><a href="https://honmaple.me/index4.html">4</a></li>
          <li>......</li>
        <li><a href="https://honmaple.me/index10.html">10</a></li>
        <li><a href="https://honmaple.me/index11.html">11</a></li>
        <li><a href="https://honmaple.me/index12.html">12</a></li>
    <li class="next"><a href="https://honmaple.me/index4.html">&raquo;</a></li>
</ul>
</li>
  </ul><div class="footer">
  <ul class="footer-left">
    <li class="hidden-xs">© 2015-2026 honmaple</li>
    <li class="hidden-xs">·</li>
    <li>
        <a href="https://github.com/honmaple">Github</a>
          <span> | </span>
        <a href="https://honmaple.me/pages/contact.html">联系</a>
          <span> | </span>
        <a href="https://honmaple.me/pages/about.html">关于</a>
    </li>
  </ul>
  <ul class="footer-right">
    <li><a class="entry-switch-theme" title="切换主题" onclick="switchTheme()"><i class="fa fa-moon-o"></i></a></li>
      <li><a href="https://honmaple.me/pages/music.html" title="音乐"><i class="fa fa-music"></i></a></li>
      <li><a href="https://honmaple.me/pages/travel.html" title="旅行"><i class="fa fa-camera"></i></a></li>
      <li class="hidden-xs"><a href="https://honmaple.me/atom.xml" title="Feed"><i class="fa fa-feed"></i></a></li>
  </ul>
</div>
<div class="back-to-top on">
  <i class="fa fa-hand-o-up" title="back to top"></i>
</div>

    </div>
      <script src="https://s.libforest.com/static/js/lib.min.js"></script>
        <script src="https://honmaple.me/static/lib/js/script.min.js"></script>
  </body>
</html>
