.aplayer {
    text-align:center;
    margin:auto;
    background-color:rgba(255, 255, 255, 0);
    box-shadow:none;
}
.aplayer .aplayer-lrc {
    display: none;
    position: relative;
    height: 30px;
    background: rgba(255, 255, 255, 0) !important;
    text-align: center;
    overflow: hidden;
    margin: -10px 0 7px;
}
.aplayer .aplayer-lrc:before {
    height: 0%;
    background: rgba(255, 255, 255, 0) !important;
}
.aplayer .aplayer-lrc:after {
    height: 0%;
    background: rgba(255, 255, 255, 0) !important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: #444;
}
.aplayer .aplayer-lrc p {
    color: #a40000;
}
.aplayer .aplayer-list ol li.aplayer-list-light {
    background: rgba(255, 255, 255, 0.4) !important;
}
.aplayer .aplayer-list ol li:hover {
    background: rgba(255, 255, 255, 0.5);
}
.aplayer .aplayer-list .aplayer-list-cur {
    height: 100% !important;
    top: 0 !important;
}
.aplayer .aplayer-list .aplayer-list-index,.aplayer .aplayer-list .aplayer-list-title {
    float: left;
}
