.entry-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -0.25rem 0 0 -0.25rem !important;
}
.entry-project > .thumbnail {
    width: auto;
    min-width: 30%;
    max-width: 100%;
    flex: 10000 1 0%;
    border: 1px solid #eee;
    border-radius: 4px;
}
@media screen and (max-width: 600px) {
    .entry-project > .thumbnail {
        min-width: 100%
    }
}
.entry-project > * {
    margin: 0.25rem 0 0 0.25rem !important;
}
.entry-project h2 {
    text-align: center;
    font-size:1.5em;
    margin: 0;
    padding: 1.5rem 0.75rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.entry-project h2:before {
    content: none;
}
.entry-project a {
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.entry-project .caption {
    padding: 0.5rem 0.5rem 0 0.5rem;
}
.entry-project ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.entry-project ul li span {
    margin: 0 0.25rem;
}
