nav.navbar,ul.dropdown-menu {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000',endColorstr='#3f000000');
    background-color:rgba(255, 255, 255, 0.6);
    border:none;
    font-size:100%;
}
.navbar-default .navbar-nav {
    margin-left:-15px;
}
.navbar-default .navbar-nav > li > a {
    color: #555;
    font-weight:bold;
    /* color: #27a0bc; */
    /* color:#BBB39E; */
}
.navbar-default .navbar-header {
    float:none;
}
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    /* color:#BBB39E; */
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #C74451;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255,255,255,0.2);
}
/* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { */
/*     color: #fff; */
/*     background-color: #C74451; */
/* } */
.navbar-default .navbar-brand {
    color: #555;
    font-size:24px;
    font-family: 'Lobster', cursive;
    margin-left:5px;
}
.navbar-default .navbar-text {
    margin-top:20px;
    font-size:13px;
}
.navbar-title {
    background-color:#333;
    color:#fff;
    padding:2px 7px 3px;
    border-radius:4px;
    font-size:23px;
}
.btn {
    font-size:13px;
}
.form-control {
    background-color:rgba(255, 255, 255, 0);
    color:#333;
    border:1px solid rgba(187,179,158,0.2);
}
.form-control:focus {
    border-color: #BBB39E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187,179,158,0.6);
}
@media screen and (min-width: 768px) {
    #search {
        width: 0px;
        cursor: pointer;
        padding-right:20px;
        border-radius:20px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
        transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
    }
    #search:focus {
        width: auto;
        cursor: text;
        padding-right:20px;
        border-radius:4px;
        border: 1px solid rgba(187,179,158,0.2);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:  width 0.6s cubic-bezier(0, 1), border-radius 0.6s,border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: width 0.6s cubic-bezier(0, 1), border-radius 0.6s,border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    #navbar-title {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top:15px;
        font-size:14px;
        font-weight:bold;
        color:#333;
    }
    .navbar-form {
        margin-left: -15px;
    }
    .navbar-fixed {
        top: 0;
        border-width: 0 0 1px;
        position: fixed;
        left:0;
        right:0;
        z-index: 1030;
        background-color: rgba(255,255,255,0.9) !important;
        padding-left:5%;
        padding-right:5%;
        transition:all 1s;
    }
    .navbar-fixed .navbar-header {
        float: left;
    }
    .navbar-fixed .navbar-header .navbar-text{
        display:none;
    }
    .navbar-fixed #nav-header {
        float:right;
    }
    .navbar-fixed #nav-header ul.dropdown-menu {
        background-color: rgba(255,255,255,0.9);
    }
}
