body {
    background: url("../images/snow.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
h1 {
    color:#333;
}
blockquote {
    border-left: 2px solid rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.4);
}
a:link, a:visited {
    color: #c74451;
}
a:hover, a:active {
    background-color: #c74451;
    color: #c74451;
}
#banner {
    background:rgba(255,255,255,0.5);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd;
    border-top:none;
    border-bottom:none;
}
#banner nav a:link, #banner nav a:visited {
    /* color: #222; */
    /* color: #c74451; */
    color: #BBB390;
}
#banner nav a:hover, #banner nav a:active,#banner nav .active a:link, #banner nav .active a:visited {
    background: #C74451;
    color: #222;
}
#banner nav ul li.dropdown dl{
    background:rgba(255,255,255,0.6);
}
#featured {
    background:rgba(255,255,255,0.6);
    color:#333;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd;
}
#featured:hover {
    background-color:rgba(255, 255, 255, 0.55);
}
#featured h3 a:hover, #featured h3 a:active {
    color: #222;
}
#featured article footer {
    color:#666;
    margin:0 auto;
    font-size:12px;
}
#content {
    background-color:rgba(255, 255, 255, 0.6);
    color:#333;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd;
}
#content:hover {
    background-color:rgba(255, 255, 255, 0.6);
}
#extras {
    background-color:rgba(255,255,255,0.8);
    color:#333;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd;
}
#extras li {
    border-bottom: 1px solid #999;
}
#extras h2 {
    color: #222;
}
#extras a:link, #extras a:visited {
    color: #333;
    border-bottom: 1px solid #F4E3E3;
}
#extras a:hover, #extras a:active {
    color: #fff;
}
.hentry {
    border-bottom: 1px solid #ddd;
}
.entry-title a:link, .entry-title a:visited {
    color: #333;
}
.entry-title a:visited {
    background-color: #222;
}
.pagination li a{
    border: 1px solid rgba(255,255,255,0.3);
}
form.search input{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
}
