body {
    background: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
nav.navbar,ul.dropdown-menu {
    background-color:rgba(0, 0, 0, 0.6);
}
.form-control {
    background-color: rgba(0,0,0,0);
    color:#ccc;
}
.entry-read-more {
    background-color:rgba(0, 0, 0, 0);
}
.entry-pagination {
    background-color:rgba(0, 0, 0, 0.6);
}

.entry-pagination li a{
    background-color:rgba(0, 0, 0, 0.8);
    color:#ddd;
}
article,.entry-tag,.entry-category,.entry-author,.footer {
    background-color:rgba(0, 0, 0, 0.6);
}
