html,body{
    height:100%;
}
body {
    background: url("http://7xs8ln.com1.z0.glb.clouddn.com/snow.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
.container {
    width:100%;
}
.wrap{
    min-height:100%
}
.main{
    padding-bottom:60px;
    overflow:hidden;
}
.footer {
    margin:-40px auto 0 auto;
    height:40px;
}
nav.navbar,ul.dropdown-menu {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000',endColorstr='#3f000000');
    background-color:rgba(255, 255, 255, 0.6);
    border:none;
    font-size:100%;
}
.navbar-default .navbar-nav {
    margin-left:-15px;
}
.navbar-default .navbar-nav > li > a {
    color: #555;
    font-weight:bold;
    /* color: #27a0bc; */
    /* color:#BBB39E; */
}
.navbar-default .navbar-header {
    float:none;
}
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    /* color:#BBB39E; */
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #C74451;
}
/* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { */
/*     color: #fff; */
/*     background-color: #C74451; */
/* } */
.navbar-default .navbar-brand {
    color: #555;
    font-size:24px;
    font-family: 'Lobster', cursive;
}
.navbar-default .navbar-text {
    margin-top:20px;
    font-size:13px;
}
.navbar-title {
    background-color:#333;
    color:#fff;
    padding:1px 7px 3px;
    border-radius:4px;
    font-size:23px;
}
.form-control {
    background-color:rgba(255, 255, 255, 0);
    color:#333;
    border:1px solid rgba(187,179,158,0.2);
}
.form-control:focus {
    border-color: #BBB39E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187,179,158,0.6);
}
.dropdown a {
    width:96px;
    text-align:center;
}
.dropdown a.active {
    color:#fff !important;
    background-color:#c74350
}
.dropdown-menu {
    padding-top:0;
    padding-bottom:0;
    min-width:auto;
}
.dropdown-menu li a{
    padding:10px 15px;
    text-align:center;
    font-weight:bold;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #C74451;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.entry-list {
    list-style:none;
    margin-top:15px;
}
.entry-title  {
    text-align:center;
}
.entry-title > a {
    position: relative;
    color: #333;
    text-decoration: none;
}
.entry-title > a:hover {
    color: #000;
}
.entry-title > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.entry-title > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.entry-info {
    font-size:12px;
    color:#333;
    text-align:center;
    margin-bottom:15px;
}
.entry-info-sep {
    margin-left:3px;
    margin-right:3px;
}
.entry-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border:none;
    border-top: 1px solid #eee;
}
.entry-read-more {
    background-color:rgba(255, 255, 255, 0);
    border:2px solid #222;
    padding:4px 12px;
    margin-top:15px;
}
.entry-read-more:hover {
    background-color:#222;
    color:#fff;
    transition:background-color 0.2s linear;
}
.entry-tag ul{
    margin:0
}

.entry-tag ul li{
    display:inline-block;
    margin-bottom:5px;
}
.entry-tag .label-default,.entry-category .label-default,.entry-author .label-default{
    background-color:rgba(255,255,255,0);
    border:1px solid #999;
    color:#333;
}
.entry-tag .badge,.entry-category .badge,.entry-author .badge{
    background-color:rgba(255,255,255,0.8);
    color:#C74451;
}
.entry-category ul li{
    margin-bottom:5px;
}
.entry-content #table-of-contents {
    display:none;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6
{
    color:#444;
    font-weight:700;
}
.entry-content h1:before,
.entry-content h2:before,
.entry-content h3:before,
.entry-content h4:before,
.entry-content h5:before,
.entry-content h6:before {
    content: '';
    border-left: 4px solid #C74451;
    padding-left:10px;
}
.entry-content a:link,.entry-content a:visited {
    color:#C74451;
}
/* .entry-content a:hover, a:active { */
/*     text-decoration: none; */
/*     text-shadow: 1px 1px 1px #aaa; */
/* } */

.entry-content img {
    max-width:100%;
    padding-top:1.143em;
}
.entry-content ul,.entry-category ul,.entry-author ul {
    margin: 1em 0 1.5em 1.5em;
}
/* .entry-content h1,.entry-content h2,.entry-content h3, */
/* .entry-content h4,.entry-content h5,.entry-content h6 { */
/*     font-weight:bold; */
/* } */

.entry-article #table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    color: black;
    background: rgba(255,255,255,0.9);
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
    font-size: 100%;
    padding: .5em;
    margin: 0em 0em 1em 1em;
    display: block;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    z-index: 1031;
}
.entry-article #table-of-contents h2 {
    color:#333;
    font-size: 10pt;
    max-width: 8.2em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; }
.entry-article #table-of-contents #text-table-of-contents {
    display: none;
    text-align: left; }
.entry-article #table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; }
.entry-article #table-of-contents a  {
    color: #003333;
}
.entry-article #table-of-contents a:hover {
    color: #003333;
    text-decoration: underline;
}
.entry-article #table-of-contents li  {
    margin: .2em;
}
.entry-article #table-of-contents h2 {
    margin-top: .2em;
    border: none;
}
.entry-pagination {
    display: block;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.6);
    padding:20px 15px;
}
.entry-pagination li {
    display: inline;
}
.entry-pagination li a{
    font-size:12px;
    width:15px;
    height:15px;
    line-height:15px;
    text-align:center;
    display:inline-block;
    /* background-color:#23241f; */
    background-color:rgba(255, 255, 255, 0.8);
    color:#333;
    /* border:1px solid #ccc; */
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.entry-pagination li a:hover{
    background-color:#222;
    color:#fff;
}
.entry-pagination li.active a{
    background-color:#222;
    color:#fff;
}
.entry-pager {
    display: table;
    padding: 0;
    margin: 20px 0;
    list-style: none;
    width:100%;
}
.entry-pager li.previous{
    display: table-cell;
    text-align: left;
}
.entry-pager li.next{
    display: table-cell;
    text-align: right;
}
.entry-pager li a {
    position: relative;
    display:inline-block;
    padding: 5px 14px;
    border-radius: 15px;
}
.entry-pager li.previous .fa {
    position: absolute;
    top: 8px;
    left:0;
}
.entry-pager li.next .fa {
    position: absolute;
    top: 8px;
    right:0;
}
/* .entry-pager li>a:focus, .entry-pager li>a:hover { */
/*     text-decoration: none; */
/*     background-color: rgba(255,255,255,0.2); */
/* } */
article,.entry-tag,.entry-category,.entry-author,.entry-archive {
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding:5px 15px 20px 15px;
}

.footer {
    overflow: hidden;
    color:#333;
    background-color:rgba(255, 255, 255, 0.6);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding:10px 15px 5px 15px;
}
.footer ul {
    list-style: none;
    margin: 0;
}
.footer h2 {
    font-size:20px;
    margin-top:-13px;
    margin-bottom:7px;
}
.footer a:link, .footer a:visited {
    color: #333;
    display: block;
    text-decoration: none;
    padding: .3em .25em;
}
.footer a:hover, .footer a:active {
    color: #C74451;
}
.footer .entry-social {
    float:right;
    margin-top:-1px;
}
.footer .entry-social a{
    font-size:16px;
}
.copyright {
    margin-top:5px !important;
}
.copyright li{
    font-size:13px;
    border:none !important;
}
.copyright li:nth-child(2){
    padding-left:0;
    padding-right:0;
}
.copyright li a{
    display:inline !important;
    border:none !important;
    font-size:11px !important;
}
.copyright a:hover, .copyright a:active {
    color: #C74451 !important;
}
.back-to-top.back-to-top-on {
    bottom: 30px;
    transition:all 0.5s;
}
.back-to-top {
    box-sizing: border-box;
    position: fixed;
    bottom: -100px;
    right: 30px;
    z-index: 1050;
    padding: 0 6px;
    width: 24px;
    background: rgba(255,255,255,0);
    font-size: 13px;
    color: #000;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateZ(0);
    transition-property: bottom;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
@media screen and (min-width: 768px) {
    #search {
        width: 0px;
        cursor: pointer;
        padding-right:20px;
        border-radius:20px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
        transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
    }
    #search:focus {
        width: auto;
        cursor: text;
        padding-right:20px;
        border-radius:4px;
        border: 1px solid rgba(187,179,158,0.2);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:  width 0.6s cubic-bezier(0, 1), border-radius 0.6s,border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: width 0.6s cubic-bezier(0, 1), border-radius 0.6s,border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .navbar-form {
        margin-left: -15px;
    }
    .navbar-fixed {
        top: 0;
        border-width: 0 0 1px;
        position: fixed;
        left:0;
        right:0;
        z-index: 1030;
        background-color: rgba(255,255,255,0.9) !important;
        padding-left:5%;
        padding-right:5%;
        transition:all 1s;
    }
    .navbar-fixed .navbar-header {
        float: left;
    }
    .navbar-fixed .navbar-header .navbar-text{
        display:none;
    }
    .navbar-fixed #nav-header {
        float:right;
    }
    .navbar-fixed #nav-header ul.dropdown-menu {
        background-color: rgba(255,255,255,0.9);
    }
}
@media screen and (max-width: 768px) {
    .dropdown a {
        width:100%;
        text-align:left;
    }
    .dropdown-menu {
        position:relative;
        width:100%;
        border:none !important;
        background-color:rgba(255, 255, 255, 0)  !important;
        box-shadow:none;
    }
    .dropdown-menu li a {
        text-align:left;
    }
    .list-inline>li {
        display: inline-block;
        padding-right: 2px;
        padding-left: 2px;
    }
}

.org-center {
    text-align:center;
}
