html::-webkit-scrollbar-track
{
    background-color: #333;
}

html::-webkit-scrollbar
{
    width: 5px;
    background-color: rgba(0,0,0,0);
}

html::-webkit-scrollbar-thumb
{
    background-color: #C74451;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot{
    color:#ddd;
}
body {
    background: url("https://honmaple.b0.upaiyun.com/images/background/sea.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
blockquote {
    border-left: 2px solid rgba(255,255,255,0.4);
    background: rgba(0,0,0,0.4);
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ddd;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ddd;
}
.navbar-default .navbar-nav > li > a {
    color: #ddd;
}
.navbar-default .navbar-brand {
    color: #ddd;
}
.navbar-default .navbar-text {
    color: #bbb;
}
.navbar-title {
    background-color:transparent;
    color:#ddd;
}
.navbar-logo {
    background-color:transparent;
}
nav.navbar,ul.dropdown-menu {
    background-color:rgba(0, 0, 0, 0.6);
}
.dropdown-menu>li>a {
    color:#ddd;
}
.form-control {
    background-color: rgba(0,0,0,0);
    color:#ddd;
}
.entry-title > a {
    color:#ddd;
}
.entry-title > a:hover {
    color: #eee;
}
.entry-title > a:before {
    background-color: #eee;
}
.entry-hr {
    border-top: 1px solid #555;
}
.entry-read-more {
    background-color:rgba(0, 0, 0, 0);
    border:2px solid #bbb;
}
.entry-read-more:hover {
    background-color:#bbb;
    color:#000;
    transition:background-color 0.2s linear;
}
.entry-pagination {
    background-color:rgba(0, 0, 0, 0.6);
}

.entry-pagination li a{
    background-color:rgba(0, 0, 0, 0.8);
    color:#eee;
}
.entry-pagination li a:hover{
    background-color:#eee;
    color:#000;
}
.entry-pagination li.active a{
    background-color:#eee;
    color:#000;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6
{
    color:#ccc;
}
.entry-tag .label-default,.entry-category .label-default,.entry-author .label-default{
    background-color:rgba(0,0,0,0);
    border:1px solid #666;
    color:#ddd;
}
.entry-tag .badge,.entry-category .badge,.entry-author .badge{
    background-color:rgba(0,0,0,0.8);
    color:#C74451;
}
article,.entry-tag,.entry-category,.entry-author,.entry-archive {
    background-color:rgba(0, 0, 0, 0.6);
}
.entry-article #table-of-contents {
    color: #ddd;
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1em #333333;
    -moz-box-shadow: 0 0 1em #333333;
}
.entry-article #table-of-contents h2 {
    color:#dddccc;
}
.entry-article #table-of-contents a  {
    color: #dddccc;
}
.entry-article #table-of-contents a:hover {
    color: #dddccc;
    text-decoration: underline;
}
.entry-encrypt input{
    background-color: rgba(0,0,0,0);
    color: #ddd;
    border: 1px solid rgba(187,179,158,0.2);
}
.entry-encrypt input:focus{
    border-color: #ddd;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187,179,158,0.6); */
}
.footer {
    color:#ddd;
    background-color:rgba(0, 0, 0, 0.6);
}
.footer a:link, .footer a:visited {
    color:#ddd;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    color:#ddd !important;
}
.timeline-count {
    color:#ccc;
}
@media ( min-width : 640px ){
    .timeline-date:after {
        content: "";
        width: 12px;
        height: 12px;
        background: rgba(255,255,255,0.7);
        position: absolute;
        left: 91px;
        top: 4px;
        border-radius: 100%;
    }
    .timeline-content:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        left: 95px;
        background-color: rgba(255,255,255,0.4);
    }
    .timeline li:first-of-type .timeline-content:before{
        content: "";
        position: absolute;
        height: calc(100% - 8px);
        top: 8px;
        width: 3px;
        left:95px;
        background-color: rgba(255,255,255,0.4);
    }
    .timeline li:last-of-type .timeline-content:before{
        content: "";
        position: absolute;
        height: calc(100% - 8px);
        bottom: 8px;
        width: 3px;
        left:95px;
        background-color: rgba(255,255,255,0.4);
    }
    .timeline li:only-of-type .timeline-content:before{
        content: "";
        position: absolute;
        height: calc(100% - 16px);
        top: 8px;
        bottom: 8px;
        width: 3px;
        left:95px;
        background-color: rgba(255,255,255,0.4);
    }
}
.aplayer {
    background-color:rgba(0, 0, 0, 0);
}
.aplayer .aplayer-lrc {
    background: rgba(0, 0, 0, 0);
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: #ccc;
}
.aplayer .aplayer-list ol li .aplayer-list-index {
    color: #ccc;
}
.aplayer .aplayer-list ol li .aplayer-list-author {
    color: #ccc;
}
.aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: #ccc;
}
.aplayer .aplayer-list ol li.aplayer-list-light {
    background: rgba(0, 0, 0, 0.4);
}
.aplayer .aplayer-list ol li {
    border-top: 1px solid #555;
}
.aplayer .aplayer-list ol li:hover {
    background: rgba(0, 0, 0, 0.5);
}
.aplayer-list.aplayer .aplayer-info {
    border-bottom: 1px solid #555;
}

@media screen and (min-width: 768px) {
    #navbar-title {
        color:#eee;
    }
    .navbar-fixed {
        background-color: rgba(0,0,0,0.7) !important;
    }
    .navbar-fixed #nav-header ul.dropdown-menu {
        background-color: rgba(0,0,0,0.7);
    }
}
