.timeline {
    list-style: circle;
    margin-left: 15px !important;
    margin-bottom:15px;
}
.timeline li {
    margin-left:30px;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    color:#444;
}
.timeline h1:before,
.timeline h2:before,
.timeline h3:before,
.timeline h4:before,
.timeline h5:before,
.timeline h6:before {
    content: '';
    border-left: 4px solid #C74451;
    padding-left:8px;
}
.timeline:last-child {
    margin-bottom:0px;
}
.timeline p{
    margin-bottom: 0;
}
.timeline-count {
    color:#999;
    font-size:13px;
}
.timeline-content {
    padding-top:5px;
    padding-bottom:5px;
}
/* for Desktop */
@media ( min-width : 640px ){
     .timeline {
         list-style: none;
         clear: both;
     }
     .timeline-item {
         margin-bottom: 1em;
         position: relative;
         clear: both;
     }
     .timeline-item-more {
         color: transparent;
     }
     .timeline-date {
         float: left;
         max-width: 10em;
         min-width: 8em;
         text-align: right;
         padding: 5px 20px 5px 10px;
         border-radius: 4px;
         margin: 0;
     }
     .timeline-content {
         margin-left: 9.6em;/*==等于左边栏宽度==*/
         padding: 5px 10px;
         border-radius: 4px;
     }
     .timeline-content:before {
         content: "";
         width: 0.8em;
         height: 0.8em;
         background: rgba(0,0,0,0.7);
         position: absolute;
         left: 110px;
         top: 0.8em;
         border-radius: 100%;
     }
     .timeline-content:after {
         content: "";
         position: absolute;
         left: 114px;
         top: 21px;
         height: 39px;
         width: 3px;
         background-color: rgba(0,0,0,0.7);
     }
     .timeline li:last-of-type .timeline-content:after{
         content: none;
     }
     .timeline li:only-of-type .timeline-content:after{
         content: none;
     }
     .timeline-date,.timeline-content {
         height: auto !important;
     }
     .timeline-content .timeline-text {
         border-radius:4px;
         padding: 8px 10px;
         background-color: rgba(255,255,255,0.6);
     }
     .timeline-content .arrow {
         position: absolute;
         top: 1px;
         left: 9.6em;
         width: 0;
         height: 0;
         z-index: 10;
         border-width: 8px;
         border-right-color: rgba(255,255,255,.1);
         border-left-width: 0;
         border-color: transparent;
         border-style: solid;
     }
     .timeline-content .arrow:after {
         position: absolute;
         width: 0;
         height: 0;
         left: 2px;
         content: "";
         border-width: 8px;
         border-color: transparent;
         border-style: solid;
         border-right-color: rgba(255,255,255,0.6);
         border-left-width: 0;
     }
     .timeline-content:hover .timeline-text{
         background-color: rgba(255,255,255,0.8);
         margin-left: 5px;
         transition-duration: .6s;
     }
     .timeline-content:hover .arrow:after {
         border-right-color: rgba(255,255,255,0.8);
         margin-left: 5px;
         transition-duration: .6s;
     }
}
