.timeline {
    list-style: circle;
    margin-left: 15px;
}
.timeline p{
    margin-bottom: 0;
}
/* for Desktop */
@media ( min-width : 640px ){
    .timeline {
        list-style: none;
    }
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 120px;
        float: left;
    }
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px rgba(0,0,0,0.4) solid;
        padding-left: 30px;
    }
    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: rgba(0,0,0,0.7);
        position: absolute;
        left: 116px;
        top: 0px;
        border-radius: 100%;
    }
}
