.timeline {
    list-style: circle;
    margin-left: 15px !important;
    margin-bottom:15px;
}
.timeline li {
    margin-left:30px;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    color:#444;
}
.timeline h1:before,
.timeline h2:before,
.timeline h3:before,
.timeline h4:before,
.timeline h5:before,
.timeline h6:before {
    content: '';
    border-left: 4px solid #C74451;
    padding-left:8px;
}
.timeline:last-child {
    margin-bottom:0px;
}
.timeline p{
    margin-bottom: 0;
}
.timeline-count {
    color:#999;
    font-size:13px;
}
.timeline-content {
    padding-top:5px;
    padding-bottom:5px;
}
/* for Desktop */
@media ( min-width : 640px ){
    .timeline {
        list-style: none;
        padding-bottom: 30px;
        clear: both;
    }
    .timeline li {
        margin:0;
        position: relative;
        clear: both;
    }
    .timeline-item-more {
        color: transparent;
    }
    .timeline-date {
        display: inline-block;
        padding: 5px 10px;
        border-radius:3px;
        float:left;
        margin-left: 30px;
    }
    .timeline-content {
        display: inline-block;
        word-wrap:break-word;
        float: left;
        margin-left: 40px;
        margin-bottom: 15px;
    }
    .timeline-content .timeline-text {
        border-radius:4px;
        padding: 8px 10px;
        background-color: rgba(255,255,255, 0.6);
    }
    .timeline-date:after {
        content: "";
        width: 0.8em;
        height: 0.8em;
        background: rgba(0,0,0,0.7);
        position: absolute;
        left: 120px;
        top: 12px;
        border-radius: 100%;
    }
    .timeline-content:before {
        content: "";
        position: absolute;
        height: 40px;
        top: 22px;
        width: 3px;
        left: 124px;
        background-color: rgba(0,0,0,0.7);
    }
    .timeline li:last-of-type .timeline-content:before{
        content: "";
        position: absolute;
        height: calc(100% - 8px);
        bottom: 8px;
        width: 3px;
        left:95px;
        background-color: rgba(0,0,0,0.4);
    }
    .timeline li:only-of-type .timeline-content:before{
        content: none;
    }
    .timeline li:last-child .timeline-content{
        padding-bottom:0px;
    }
    .timeline-content .arrow {
        position: absolute;
        left: 140px;
        top: 8px;
        width: 0;
        height: 0;
        z-index: 10;
        border-width: 9px;
        border-right-color: rgba(0,0,0,.1);
        border-left-width: 0;
        border-color: transparent;
        border-style: solid;
    }
    .timeline-content .arrow:after {
        position: absolute;
        width: 0;
        height: 0;
        left: 1px;
        bottom: -8px;
        content: "";
        border-width: 8px;
        border-color: transparent;
        border-style: solid;
        border-right-color: rgba(255,255,255, 0.6);
        border-left-width: 0;
    }
    .timeline-content:hover .timeline-text{
        background-color: rgba(255,255,255, 0.8);
        margin-left: 5px;
        transition-duration: .6s;
    }
    .timeline-content:hover .arrow:after {
        border-right-color: rgba(255,255,255, 0.8);
        margin-left: 5px;
        transition-duration: .6s;
    }
}
