body,html,div,header{ padding:0; margin:0;}

p {
    font-size:20px;
    color: #000;
    padding-left:2cm;
    padding-top:2cm;
}
p li {
    font-size: 20px;
    color: #000;
    padding-left:2cm;
}

/*link*/
a:link {text-decoration:none;color:#000;}    /*[> 未被访问的链接 <]*/
a:visited {text-decoration:none;color:#000;} /*[> 已被访问的链接 <]*/
a:hover {text-decoration:none;color:#00aaaa;}   /*[> 鼠标指针移动到链接上 <]*/
a:active {text-decoration:none;color:#00aaaa;}  /*[> 正在被点击的链接 <]*/

h2 {
    color: #666;
    font-size:12px;
    margin:5px auto;
}

div#backcolor {
    background:url("../images/bkg.png");
    width:100%;
    height:20px;
    text-align:center;
}

