<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>honmaple · honmaple's blog · 风落花语风落天，花落风雨花落田.</title>
      <link href="https://static.honmaple.com/static/css/lib.min.css" rel="stylesheet">
        <link href="https://honmaple.me/theme/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="particles-js" id="particles-js"></div>
    <div class="scrollbar"></div>
    <div class="wrap">
      <div class="main">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header" aria-expanded="false">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://honmaple.me">
      <img class="navbar-logo" src="https://static.honmaple.com/images/header/header-logo.png" alt="楓">
    </a>
      <p class="navbar-text">—— 风落花语风落天，花落风雨花落田.</p>
  </div>
  <div class="collapse navbar-collapse" id="nav-header">
    <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="https://honmaple.me/category/life/index.html" >代码人生</a>
            <ul class="dropdown-menu">
                <li><a href="https://honmaple.me/category/coding/index.html">分享世界</a></li>
                <li><a href="https://honmaple.me/category/love/index.html">你不懂我</a></li>
                <li><a href="https://honmaple.me/category/recall/index.html">我不怪你</a></li>
            </ul>
          </li>
          <li ><a href="https://honmaple.me/category/linux/index.html">字符艺术</a></li>
          <li ><a href="https://honmaple.me/category/python/index.html">人生苦短</a></li>
          <li ><a href="https://honmaple.me/category/security/index.html">极客安全</a></li>
      <li class="dropdown">
        <a href="https://honmaple.me/archives.html">文章归档</a>
        <ul class="dropdown-menu">
          <li><a href="https://honmaple.me/tags.html">标签</a></li>
          <li><a href="https://honmaple.me/categories.html">分类</a></li>
          <li><a href="https://honmaple.me/authors.html">作者</a></li>
        </ul>
      </li>
      <li><a href="https://honmaple.me/pages/about.html">关于</a></li>
    </ul>
    <form action="https://honmaple.me/search.html" class="navbar-form navbar-right" style="margin-top:10px;">
      <div class="form-group has-feedback">
        <input class="form-control input-sm" id="search" name="q" type="text" onfocus="this.placeholder='搜索'" onblur="this.placeholder=''">
        <i class="fa fa-search form-control-feedback"></i>
      </div>
    </form>
  </div>
</nav>          <ul class="entry-list" style="margin-top:0;">
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/07/celery动态添加任务.html" rel="bookmark" title="Permalink to celery动态添加任务">celery动态添加任务</a></h1>
<header class="entry-info">
  <span title="2017-07-09T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    日 09 七月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
        <a href="https://honmaple.me/tag/celery/index.html">celery</a>
        <a href="https://honmaple.me/tag/python/index.html">python</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            

<p>celery是一个基于Python的分布式调度系统，<a href="http://docs.celeryproject.org/en/latest/">文档在这</a> ,最近有个需求,想要动态的添加任务而不用重启celery服务,找了一圈没找到什么好办法(也有可能是文档没看仔细)，所以只能自己实现囉</p>

<p>为celery动态添加任务，首先我想到的是传递一个函数进去，让某个特定任务去执行这个传递过去的函数，就像这样</p>
<div class="highlight"><pre><span></span><span class="nd">@app.task</span>
<span class="k">def</span> <span class="nf">execute</span><span class="p">(</span><span class="n">func</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">func</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
</pre></div>


<p>很可惜，会出现这样的错误</p>
<div class="highlight"><pre><span></span><span class="n">kombu</span><span class="p">.</span><span class="n">exceptions</span><span class="p">.</span><span class="n">EncodeError</span><span class="p">:</span> <span class="k">Object</span> <span class="k">of</span> <span class="k">type</span> <span class="s1">&#39;function&#39;</span> <span class="k">is</span> <span class="k">not</span> <span class="n">JSON</span> <span class="k">serializable</span>
</pre></div>


<p>换一种序列化方式</p>
<div class="highlight"><pre><span></span><span class="nd">@app.task</span><span class="p">(</span><span class="n">serializer</span><span class="o">=</span><span class="s1">&#39;pickle&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">execute</span><span class="p">(</span><span class="n">func</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">func</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs …</span></pre></div>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/07/celery动态添加任务.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/07/我的Linux历程.html" rel="bookmark" title="Permalink to 我的Linux历程">我的Linux历程</a></h1>
<header class="entry-info">
  <span title="2017-07-05T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    三 05 七月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">Linux</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents">
<ul>
<li><a href="#org-83ad8510bb">Linux</a></li>
<li><a href="#org-462ce42a0f">Linux发行版</a></li>
<li><a href="#org-d339bab5bb">Linux历程</a></li>
<li><a href="#org-db469a8429">Linux的娱乐性</a></li>
<li><a href="#org-2338206ce6">Linux上的实用性</a></li>
<li><a href="#org-78e9b010fb">深入了解Linux</a></li>
</ul>
</div></div>



<h2 id="org-83ad8510bb">Linux</h2>
<p>是一种计算机操作系统内核,以C语言和汇编语言写成，匹配POSIX标准，以GNU通用公共许可证(GPL2)发布,最早是由林纳斯·托瓦兹开发的类UNIX系统</p>

<p>Linux与UNIX的区别: UNIX系统大多是与硬件配套的，而Linux则可运行在多种硬件平台上。UNIX是商业软件，而Linux自由免费。</p>

<h2 id="org-462ce42a0f">Linux发行版</h2>
<p>简单的来说将Linux内核与一些系统软件，应用软件进行整合，有的发行版还包括图形界面(x11，wayland),目前所说的Linux大多代表Linux发行版</p>

<h2 id="org-d339bab5bb">Linux历程</h2>
<p>曾经在某论坛看到linux这个名词，立马装上虚拟机然后安装了我的第一个Linux版本--centos，并且装上了gnome桌面环境，随后开始了Linux折腾之旅,
大概是这样的 centos --&gt; kali --&gt; ubuntu --&gt; fedora --&gt; ubuntu kylin --&gt; mint --&gt; debian --&gt; fedora --&gt; archlinux ......,Linux发行版大概分为3系,
debain系,包括ubuntu …</p>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/07/我的Linux历程.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/06/关于网易云音乐个性推荐无法显示的问题.html" rel="bookmark" title="Permalink to 关于网易云音乐个性推荐无法显示的问题">关于网易云音乐个性推荐无法显示的问题</a></h1>
<header class="entry-info">
  <span title="2017-06-02T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    五 02 六月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
        <a href="https://honmaple.me/tag/netease/index.html">netease</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            
<p>最近在使用网易云音乐时首页的个性推荐总是无法显示，一直在<b>正在为你生成个性化推荐</b>,网上也没找到什么办法,偶然间使用</p>
<div class="highlight"><pre><span></span>┌─<span class="o">[</span>jianglin<span class="o">]</span>─<span class="o">[</span>~<span class="o">]</span>
└──╼ rm -rf .cache/netease-cloud-music/
┌─<span class="o">[</span>jianglin<span class="o">]</span>─<span class="o">[</span>~<span class="o">]</span>
└──╼ rm -rf .config/netease-cloud-music/
</pre></div>


<p>重新打开登陆后个性推荐就出现了，特此记录</p>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/06/关于网易云音乐个性推荐无法显示的问题.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/05/方便的切换emacs主题.html" rel="bookmark" title="Permalink to 方便的切换emacs主题">方便的切换emacs主题</a></h1>
<header class="entry-info">
  <span title="2017-05-23T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    二 23 五月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
        <a href="https://honmaple.me/tag/emacs/index.html">emacs</a>
        <a href="https://honmaple.me/tag/elisp/index.html">elisp</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            

<p>作为一个主题控，经常会切换主题，之前切换主题的方式是这样的，*M-x*,`load-theme`,选中,但是个人认为不够便捷，正好前几天发现了<b>hydra</b>这个插件,也想实践一下</p>

<p>获取主题列表</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="k">setq</span> <span class="nv">maple-cycle-themes</span> <span class="p">(</span><span class="nf">mapcar</span> <span class="ss">&#39;symbol-name</span> <span class="p">(</span><span class="nv">custom-available-themes</span><span class="p">)))</span>
</pre></div>


<p>获取当前主题索引</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="nv">cl-position</span> <span class="p">(</span><span class="nf">car</span> <span class="p">(</span><span class="nf">mapcar</span> <span class="ss">&#39;symbol-name</span> <span class="nv">custom-enabled-themes</span><span class="p">))</span> <span class="nv">maple-cycle-themes</span> <span class="nb">:test</span> <span class="ss">&#39;equal</span><span class="p">)</span>
</pre></div>


<p>获取下一个主题</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="k">setq</span> <span class="nv">maple-current-theme-index</span>
      <span class="p">(</span><span class="nf">+</span> <span class="mi">1</span> <span class="nv">maple-current-theme-index</span><span class="p">))</span>
<span class="p">(</span><span class="k">setq</span> <span class="nv">maple-current-theme</span> <span class="p">(</span><span class="nf">nth</span> <span class="nv">maple-current-theme-index</span> <span class="nv">maple-cycle-themes</span><span class="p">))</span>
</pre></div>


<p>加载主题</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="nv">load-theme</span> <span class="p">(</span><span class="nf">intern</span> <span class="nv">maple-current-theme</span><span class="p">)</span> <span class="no">t</span><span class="p">)</span>
</pre></div>


<p>最后得到这样的函数</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="nb">defun</span> <span class="nv">maple/cycle-theme</span> <span class="p">(</span><span class="nv">num</span><span class="p">)</span>
  <span class="p">(</span><span class="k">interactive</span><span class="p">)</span>
  <span class="p">(</span><span class="k">setq</span> <span class="nv">maple-current-theme-index …</span></pre></div>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/05/方便的切换emacs主题.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/05/那些年我们一起写的诗.html" rel="bookmark" title="Permalink to 那些年我们一起写的诗">那些年我们一起写的诗</a></h1>
<header class="entry-info">
  <span title="2017-05-17T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    三 17 五月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/recall/index.html">recall</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/life/index.html">Life</a>
        <a href="https://honmaple.me/tag/shi/index.html">诗</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            
<ul>
<li>其实世界上本没有试，考得人多了，也便成了试
</li>
<li>喝自己的水，让别人喝酒去吧！
</li>
<li>春游只是一场旅行，不在乎目的地（呈贡新校区）在乎的只是周末的作业和做作业的心情，让作业去旅行…
</li>
<li>忘记或是失忆…都是一场美丽
</li>
<li>黑夜如此短暂，仅在闭眼睁眼之间，却不知黑暗之中，已有人迷失方向，正在苦苦寻觅黎明前的光亮
</li>
<li>人生总有欢乐，亦有痛苦，我们本是为了活着而活着，活着，才有希望，死亡，或许能够躲避痛苦，但也将永远长眠于墓地，无法品味人生的酸甜苦辣
</li>
<li>问君能有几多愁，恰似一江春水向东流；问君能有几多愁，恰似一群太监上青楼；问君能有几多愁，恰似一代天骄热泪流 ；问君能有几多愁，恰似三中作业多如牛。作业多，愁啊！
</li>
<li>对内宣传实力如虎，对外抗议胆小如鼠
</li>
<li>天朗、气清、月明、人中：夜迹…血月
</li>
<li>众人皆白，唯我独黑
</li>
<li>众人皆醉，唯我独醒
</li>
<li>战争中出英雄 …</li></ul>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/05/那些年我们一起写的诗.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/05/vue笔记.html" rel="bookmark" title="Permalink to vue笔记">vue笔记</a></h1>
<header class="entry-info">
  <span title="Updated at 2018-05-03">
    <i class="fa fa-calendar-o"></i>
    三 03 五月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/coding/index.html">coding</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/vue/index.html">vue</a>
        <a href="https://honmaple.me/tag/html/index.html">html</a>
        <a href="https://honmaple.me/tag/javescript/index.html">javescript</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents">
<ul>
<li><a href="#org-c6d935717d">vue分页</a></li>
</ul>
</div></div>



<h2 id="org-c6d935717d">vue分页</h2>
<p>需要参数:</p>
<ul>
<li><code>page</code>: 当前页码</li>
<li><code>total_page</code>: 总页数
</li>
</ul>
<p>代码片段</p>
<div class="highlight"><pre><span></span><span class="ni">&amp;lt;</span>ul class=&quot;pagination&quot; v-if=&quot;total_page <span class="ni">&amp;gt;</span> 1&quot;<span class="ni">&amp;gt;</span>
  <span class="ni">&amp;lt;</span>li  v-if=&quot;page <span class="ni">&amp;gt;</span> 1&quot; class=&quot;previous&quot;<span class="ni">&amp;gt;</span>
    <span class="ni">&amp;lt;</span>a href=&quot;javascript:void(0);&quot; v-on:click=&quot;paginate_to(1);&quot;<span class="ni">&amp;gt;</span>«<span class="ni">&amp;lt;</span>/a<span class="ni">&amp;gt;</span>
  <span class="ni">&amp;lt;</span>/li<span class="ni">&amp;gt;</span>
  <span class="ni">&amp;lt;</span>template v-for …</pre></div>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/05/vue笔记.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/05/晒晒我的Linux及桌面.html" rel="bookmark" title="Permalink to 晒晒我的Linux及桌面">晒晒我的Linux及桌面</a></h1>
<header class="entry-info">
  <span title="2017-05-01T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    一 01 五月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
        <a href="https://honmaple.me/tag/i3wm/index.html">i3wm</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            
<p><a href="https://static.honmaple.com/images/2017/05/149364033937825.png?type=show" data-fancybox="image"><img data-src="https://static.honmaple.com/images/2017/05/149364033937825.png?type=thumb" class="lazyload" /></a></p>

<p><a href="https://static.honmaple.com/images/2017/05/149364138162872.png?type=show" data-fancybox="image"><img data-src="https://static.honmaple.com/images/2017/05/149364138162872.png?type=thumb" class="lazyload" /></a></p>

<p><a href="https://static.honmaple.com/images/2017/05/149364171386276.png?type=show" data-fancybox="image"><img data-src="https://static.honmaple.com/images/2017/05/149364171386276.png?type=thumb" class="lazyload" /></a></p>

<p>ps:真TM的闲着蛋疼</p>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/05/晒晒我的Linux及桌面.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/04/emacs笔记.html" rel="bookmark" title="Permalink to emacs笔记">emacs笔记</a></h1>
<header class="entry-info">
  <span title="Updated at 2019-07-09">
    <i class="fa fa-calendar-o"></i>
    五 21 四月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
        <a href="https://honmaple.me/tag/emacs/index.html">emacs</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents">
<ul>
<li><a href="#org-83ad8510bb">Linux</a></li>
<li><a href="#org-bd8f6735d6">Evil</a>
<ul>
<li><a href="#org-7b8e7bf723">粘贴替换的时候会复制替换的文本</a></li>
<li><a href="#org-585010db6b">自动搜索已选中的字符</a></li>
<li><a href="#org-c4d6d5ec2a">evil-mc不忽略大小写</a></li>
</ul></li>
<li><a href="#org-b97c4d4cdd">Font</a>
<ul>
<li><a href="#org-c64b1df3bf">设置中英文字体</a></li>
</ul></li>
<li><a href="#org-f3742ddc65">Ivy</a>
<ul>
<li><a href="#org-0fd1423b91">指定目录或文件进行搜索</a></li>
<li><a href="#org-1f2c330e31">查找当前目录以及子目录的某个文件</a></li>
<li><a href="#org-8a187202f2">当选中单词时，swiper使用已选单词进行搜索</a></li>
</ul></li>
<li><a href="#org-2c3cafa4db">File</a>
<ul>
<li><a href="#org-aa0a5120ce">获取文件或目录的basename</a></li>
</ul></li>
<li><a href="#org-e75efa6670">Elisp</a>
<ul>
<li><a href="#org-f9377ef1e3">golang自动增加注释</a></li>
<li><a href="#org-76de667e3d">增加到hook但仅调用一次</a></li>
<li><a href="#org-c58ca40da7">迭代并获取列表索引</a></li>
<li><a href="#org-2305ffb5d8">深拷贝function</a></li>
</ul></li>
</ul>
</div></div>


<h2 id="org-83ad8510bb">Linux</h2>
<p>将<b>emacs gui</b>进程放置到后台</p>
<div class="highlight"><pre><span></span><span class="nv">EMACS</span><span class="o">=</span>/usr/bin/emacs
<span class="nv">GUI</span><span class="o">=</span><span class="m">0</span>
<span class="nv">ARGS</span><span class="o">=</span><span class="s2">&quot;</span><span class="nv">$@</span><span class="s2">&quot;</span>
<span class="nv">ARRAY</span><span class="o">=(</span><span class="s2">&quot;-nw&quot;</span> <span class="s2">&quot;--no-window-system&quot;</span> <span class="s2">&quot;--batch&quot;</span> <span class="s2">&quot;--help&quot;</span><span class="o">)</span>

<span class="k">for</span> arg in <span class="nv">$ARGS</span><span class="p">;</span> <span class="k">do</span>
    <span class="k">for</span> keyword in <span class="s2">&quot;</span><span class="si">${</span><span class="nv">ARRAY</span><span class="p">[@]</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">;</span><span class="k">do …</span></pre></div>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/04/emacs笔记.html">阅读全文 »</a>
          </div>
        </article></li>
        <li><article>
          <div class="entry-header">
            <h1 class="entry-title"><a href="https://honmaple.me/articles/2017/04/emacs实现智能注释.html" rel="bookmark" title="Permalink to emacs实现智能注释">emacs实现智能注释</a></h1>
<header class="entry-info">
  <span title="2017-04-21T00:00:00+08:00">
    <i class="fa fa-calendar-o"></i>
    五 21 四月 2017
  </span>
    <span class="entry-info-sep hidden-xs">|</span>
    <span class="hidden-xs">
      <i class="fa fa-user-o"></i>
      By <a href="https://honmaple.me/author/honmaple.html">honmaple</a>
    </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    In <a href="https://honmaple.me/category/linux/index.html">Linux</a>
  </span>
    <span class="entry-info-sep">|</span>
    <span>
      <i class="fa fa-bookmark-o"></i>
      0f
        <a href="https://honmaple.me/tag/emacs/index.html">emacs</a>
        <a href="https://honmaple.me/tag/elisp/index.html">elisp</a>
        <a href="https://honmaple.me/tag/linux/index.html">linux</a>
    </span>

</header>          </div>
          <hr class="entry-hr" />
          <div class="entry-content">
            
<p>之前使用emacs时遇到这么一个问题</p>
<blockquote>
<p>当前行存在代码折叠时,如果想要注释,必须先选中当前行,否则只能注释代码折叠块的第一行</p>
</blockquote>

<p>就像这样</p>

<p><a href="https://static.honmaple.com/images/2017/04/149274346737550.png?type=show" data-fancybox="image"><img data-src="https://static.honmaple.com/images/2017/04/149274346737550.png?type=thumb" class="lazyload" /></a></p>

<p><a href="https://static.honmaple.com/images/2017/04/149274352705945.png?type=show" data-fancybox="image"><img data-src="https://static.honmaple.com/images/2017/04/149274352705945.png?type=thumb" class="lazyload" /></a></p>

<p>基础注释函数来源于 <b>stackoverflow</b></p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="nb">defun</span> <span class="nv">comment-or-uncomment-region-or-line</span> <span class="p">()</span>
  <span class="s">&quot;Comments or uncomments the region or the current line if there&#39;s no active region.&quot;</span>
  <span class="p">(</span><span class="k">interactive</span><span class="p">)</span>
  <span class="p">(</span><span class="k">let</span> <span class="p">(</span><span class="nv">beg</span> <span class="nv">end</span><span class="p">)</span>
    <span class="p">(</span><span class="k">if</span> <span class="p">(</span><span class="nv">region-active-p</span><span class="p">)</span>
        <span class="p">(</span><span class="k">setq</span> <span class="nv">beg</span> <span class="p">(</span><span class="nf">region-beginning</span><span class="p">)</span> <span class="nv">end</span> <span class="p">(</span><span class="nf">region-end</span><span class="p">))</span>
      <span class="p">(</span><span class="k">setq</span> <span class="nv">beg</span> <span class="p">(</span><span class="nf">line-beginning-position</span><span class="p">)</span> <span class="nv">end</span> <span class="p">(</span><span class="nf">line-end-position</span><span class="p">)))</span>
    <span class="p">(</span><span class="nv">comment-or-uncomment-region</span> <span class="nv">beg</span> <span class="nv">end</span><span class="p">)))</span>
</pre></div>


<p>在此函数的位置上进行修改,刚开始使用</p>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="nb">when</span> <span class="p">(</span><span class="nv">hs-already-hidden-p</span><span class="p">)</span>
    <span class="p">(</span><span class="nv">evil-visual-line …</span></pre></div>
          </div>
          <div class="text-center">
            <a class="btn entry-read-more" href="https://honmaple.me/articles/2017/04/emacs实现智能注释.html">阅读全文 »</a>
          </div>
        </article></li>
          <li>  <ul class="entry-pagination">
      <li class="prev"><a href="https://honmaple.me/author/honmaple6.html">&laquo;</a></li>
         <li ><a href="https://honmaple.me/author/honmaple.html">1</a></li>
         <li ><a href="https://honmaple.me/author/honmaple2.html">2</a></li>
         <li ><a href="https://honmaple.me/author/honmaple3.html">3</a></li>
         <li>......</li>
         <li ><a href="https://honmaple.me/author/honmaple6.html">6</a></li>
         <li class="active"><a href="https://honmaple.me/author/honmaple7.html">7</a></li>
         <li ><a href="https://honmaple.me/author/honmaple8.html">8</a></li>
         <li>......</li>
         <li ><a href="https://honmaple.me/author/honmaple17.html">17</a></li>
         <li ><a href="https://honmaple.me/author/honmaple18.html">18</a></li>
         <li ><a href="https://honmaple.me/author/honmaple19.html">19</a></li>
      <li class="next"><a href="https://honmaple.me/author/honmaple8.html">&raquo;</a></li>
  </ul>
</li>
          </ul>
      </div>
    </div>
<div class="footer">
  <ul class="list-inline entry-social">
    <li><a class="entry-theme" title="Moon"><i class="fa fa-moon-o"></i></a></li>
      <li ><a href="https://honmaple.me/pages/music.html" title="Music"><i class="fa fa-music"></i></a></li>
      <li class="hidden-xs"><a href="https://honmaple.me/feeds/atom.xml" title="Feed"><i class="fa fa-feed"></i></a></li>
      <li ><a href="https://github.com/honmaple" title="GitHub"><i class="fa fa-github"></i></a></li>
      <li ><a href="https://honmaple.me/pages/travel.html" title="Camera"><i class="fa fa-camera"></i></a></li>
      <li ><a href="https://honmaple.me/pages/contact.html" title="Envelope"><i class="fa fa-envelope"></i></a></li>
  </ul>
  <ul class="list-inline copyright">
    <li class="hidden-xs">© 2015-2019 honmaple</li>
    <li class="hidden-xs">·</li>
    <li>
          <a href="https://honmaple.me/pages/friends.html">友链</a>
          <span> | </span>
          <a href="https://honmaple.me/pages/contact.html">联系</a>
          <span> | </span>
          <a href="https://honmaple.me/pages/project.html">项目</a>
          <span> | </span>
          <a href="https://honmaple.me/pages/timeline.html">时间轴</a>
    </li>
  </ul>
</div>    <div class="back-to-top back-to-top-on">
      <i class="fa fa-hand-o-up" title="back to top"></i>
    </div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88401692-2"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-88401692-2');
  </script>
      <script src="https://static.honmaple.com/static/js/lib.min.js"></script>
        <script src="https://honmaple.me/theme/js/script.min.js"></script>
      <script src="https://static.honmaple.com/static/js/instantclick.min.js" data-no-instant></script>
      <script data-no-instant>
       InstantClick.on('change', function() {
           if (typeof ga !== 'undefined') {
               ga('send', 'pageview', location.pathname + location.search);
           }
       });
       InstantClick.init(60);
      </script>
  </body>
</html>