<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>honmaple · honmaple's blog ·  爱情诚可贵，自由价更高.</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/fancybox/3.1.25/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../theme/css/style.min.css">
  </head>
  <body>
    <div class="particles-js" id="particles-js"></div>
    <div class="wrap">
      <div class="main">
        <div class="col-md-offset-2 col-md-7 col-center">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="..">
                <img class="navbar-logo" src="https://honmaple.b0.upaiyun.com/images/header/header-logo.png" alt="楓">
              </a>
              <p class="navbar-text">—— 爱情诚可贵，自由价更高.</p>
            </div>
            <div class="collapse navbar-collapse" id="nav-header">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="../category/life/index.html" >代码人生</a>
                  <ul class="dropdown-menu">
                    <li><a href="../category/coding/index.html">分享世界</a></li>
                    <li><a href="../category/love/index.html">你不懂我</a></li>
                    <li><a href="../category/recall/index.html">我不怪你</a></li>
                  </ul>
                </li>
                <li ><a href="../category/linux/index.html">字符艺术</a></li>
                <li ><a href="../category/python/index.html">人生苦短</a></li>
                <li ><a href="../category/security/index.html">极客安全</a></li>
                <li class="dropdown">
                  <a href="../archives.html">文章归档</a>
                  <ul class="dropdown-menu">
                    <li><a href="../tags.html">标签</a></li>
                    <li><a href="../categories.html">分类</a></li>
                    <li><a href="../authors.html">作者</a></li>
                  </ul>
                </li>
                <li><a href="../pages/about.html">关于</a></li>
              </ul>
              <form onsubmit="return dispatch()" class="navbar-form navbar-right" style="margin-top:10px;">
                <div class="form-group has-feedback">
                  <input class="form-control input-sm" id="search" name="search" type="text" onfocus="this.placeholder='搜索'" onblur="this.placeholder=''">
                  <i class="fa fa-search form-control-feedback"></i>
                </div>
              </form>
            </div>
          </nav>
        </div>
        <div class="col-md-offset-2 col-md-7 col-center">
            <article>
                <h1 class="entry-title"><a href="../articles/2018/02/flask_maple文档.html" rel="bookmark" title="Permalink to flask_maple文档">flask_maple文档</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-02-23">
    <i class="fa fa-calendar-o"></i>
    五 23 二月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/python/index.html">Python</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/python/index.html">python</a>
    <a href="../tag/flask/index.html">flask</a>
  </span>
</header>                    <hr class="entry-hr" />
                    <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-54291645">安装</a></li>
<li><a href="#org-53035728">用户系统</a></li>
<li><a href="#org-62246085">权限</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-44917808">权限缓存</a></li>
</ul></li>
<li><a href="#org-60833268">登录</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-68216597">注意事项</a></li>
</ul></li>
<li><a href="#org-86442344">验证码</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-10765786">配置</a></li>
</ul></li>
<li><a href="#org-7866223">错误处理</a></li>
<li><a href="#org-4461701">邮箱</a></li>
<li><a href="#org-81024275">表单</a></li>
<li><a href="#org-72839507">数据库</a>
<ul>
<li><a href="#org-2016436">基本查询(已实现)</a></li>
<li><a href="#org-73452045">关系查询</a></li>
<li><a href="#org-85553284">其它</a></li>
</ul></li>
<li><a href="#org-25538110">序列化</a>
<ul>
<li><a href="#org-72072610">多个实例</a></li>
<li><a href="#org-28764416">单个实例</a></li>
<li><a href="#org-79026735">排除字段</a></li>
<li><a href="#org-94957480">仅包括字段</a></li>
<li><a href="#org-13966352">关系查询深度</a></li>
<li><a href="#org-46762139">额外的字段</a></li>
<li><a href="#org-80606760">自定义</a></li>
</ul></li>
<li><a href="#org-77598751">中间件</a></li>
<li><a href="#org-31326070">日志</a></li>
<li><a href="#org-34785406">App</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-10765786">配置</a></li>
</ul></li>
<li><a href="#org-51526690">Bootstrap</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-81438631">模板</a></li>
<li><a href="#org-10765786">配置</a></li>
</ul></li>
<li><a href="#org-25850246">Redis</a>
<ul>
<li><a href="#org-85837950">使用</a></li>
<li><a href="#org-10765786">配置</a></li>
</ul></li>
</ul>
</div></div>



<h3 id="org-54291645">安装</h3>
<p>To install Flask-Maple:
<div class="highlight"><pre><span></span><span class="n">pip</span> <span class="n">install</span> <span class="n">flask</span><span class="o">-</span><span class="n">maple</span>
</pre></div>
</p>

<p>Or alternatively, you can download the repository and install manually by doing:
<div class="highlight"><pre><span></span><span class="n">git</span> <span class="n">clone</span> <span class="n">git</span><span class="nd">@github.com</span><span class="p">:</span><span class="n">honmaple</span><span class="o">/</span><span class="n">flask</span><span class="o">-</span><span class="n">maple</span><span class="o">.</span><span class="n">git</span>
<span class="n">cd</span> <span class="n">flask</span><span class="o">-</span><span class="n">maple</span>
<span class="n">python</span> <span class="n">setup</span><span class="o">.</span><span class="n">py</span> <span class="n">install</span>
</pre></div>
</p>

<h3 id="org-53035728">用户系统</h3>
<p>在 <b>flask_maple/auth/model.py</b> 中默认实现了 <b>GroupMixin</b> 与 <b>UserMixin</b>
如果要创建 user 表与 group 表,只需要
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.auth.models</span> <span class="kn">import</span> <span class="n">UserMixin</span><span class="p">,</span> <span class="n">GroupMixin</span>

<span class="k">class</span> <span class="nc">User</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">,</span> <span class="n">UserMixin</span><span class="p">):</span>
    <span class="k">pass</span>

<span class="k">class</span> <span class="nc">Group</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">,</span> <span class="n">GroupMixin</span><span class="p">):</span>
    <span class="k">pass</span>
</pre></div>

即可</p>

<p><b>user</b> 表默认创建以下字段, 可添加更多想要的字段</p>
<ul>
<li>id</li>
<li>username</li>
<li>password</li>
<li>email</li>
<li>is_superuser</li>
<li>is_confirmed</li>
<li>register_time</li>
<li>last_login</li>
<li>groups
</li>
</ul>
<p><b>group</b> 表默认创建以下字段</p>
<ul>
<li>id</li>
<li>name</li>
<li>users</li>
<li>parent_group</li>
<li>child_groups
</li>
</ul>
<h3 id="org-62246085">权限</h3>
<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.permission.models</span> <span class="kn">import</span> <span class="n">PermissionMixin</span>

<span class="k">class</span> <span class="nc">Permission</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">,</span> <span class="n">PermissionMixin</span><span class="p">):</span>
    <span class="k">pass</span>
</pre></div>


<p>user 表与 group 表可继承 <b>flask_maple.permission.models.UserMixin</b> 与 <b>flask_maple.permission.models.GroupMixin</b>
或者直接使用 <b>flask_maple.auth.models.UserMixin</b> 与 <b>flask_maple.auth.models.GroupMixin</b></p>

<ul>
<li>添加权限
<div class="highlight"><pre><span></span><span class="n">identity</span> <span class="o">=</span> <span class="n">user</span> <span class="c1"># or group</span>
<span class="n">identity</span><span class="o">.</span><span class="n">add_perm</span><span class="p">(</span>
    <span class="n">action</span><span class="p">,</span>
    <span class="n">resource</span><span class="p">,</span>
    <span class="n">resource_type</span><span class="o">=</span><span class="s1">&#39;endpoint&#39;</span><span class="p">,</span>
    <span class="n">description</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span>
</pre></div>

</li>
<li>删除权限
<div class="highlight"><pre><span></span><span class="n">identity</span><span class="o">.</span><span class="n">remove_perm</span><span class="p">(</span>
    <span class="n">action</span><span class="p">,</span>
    <span class="n">resource</span><span class="p">,</span>
    <span class="n">resource_type</span><span class="o">=</span><span class="s1">&#39;endpoint&#39;</span><span class="p">)</span>
</pre></div>

</li>
<li>检查权限
<div class="highlight"><pre><span></span><span class="n">identity</span><span class="o">.</span><span class="n">has_perm</span><span class="p">(</span><span class="n">action</span><span class="p">,</span> <span class="n">resource</span><span class="p">,</span> <span class="n">resource_type</span><span class="o">=</span><span class="s1">&#39;endpoint&#39;</span><span class="p">,</span> <span class="n">and_</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
</pre></div>

</li>
</ul>
<h4 id="org-44917808">权限缓存</h4>
<p>默认权限会从数据库获取, 如果经常使用，可自行添加缓存, 并在添加删除权限后自行对缓存进行操作
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">User</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">,</span> <span class="n">UserMixin</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">perm_cache</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span>
                   <span class="n">action</span><span class="p">,</span>
                   <span class="n">resource</span><span class="p">,</span>
                   <span class="n">resource_type</span><span class="o">=</span><span class="s1">&#39;endpoint&#39;</span><span class="p">,</span>
                   <span class="n">and_</span><span class="o">=</span><span class="bp">False</span><span class="p">):</span>
        <span class="k">return</span>
</pre></div>
</p>

<h3 id="org-60833268">登录</h3>
<p>依赖于 <b>flask-login</b>, <b>flask-mail</b></p>

<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple</span> <span class="kn">import</span> <span class="n">auth</span>

<span class="n">auth</span><span class="o">.</span><span class="n">init_app</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>

<span class="c1"># 或者</span>
<span class="kn">from</span> <span class="nn">flask_maple.auth.views</span> <span class="kn">import</span> <span class="n">Auth</span>

<span class="n">Auth</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>


<p>将会创建6个 <b>url</b></p>

<ul>
<li>/login</li>
<li>/logout</li>
<li>/register</li>
<li>/forget</li>
<li>/confirm</li>
<li>/confirm/<token>
</li>
</ul>
<p>可以自定义登陆，注册，忘记密码页面，以登陆页面为例 (templates/maple/login.html)
<div class="highlight"><pre><span></span>{% extends &quot;base/base.html&quot; %}
{%- block content -%}
{% import &#39;maple/auth.html&#39; as auth %}
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;panel panel-primary&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;panel-heading&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;auth.login&#39;) }}&quot;</span> <span class="na">style</span><span class="o">=</span><span class="s">&quot;color:#fff&quot;</span><span class="p">&gt;</span>{{ _(&#39;Login&#39;)}}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;panel-body&quot;</span><span class="p">&gt;</span>
        {{ auth.login()}}
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
{% endblock %}
</pre></div>
</p>

<h4 id="org-68216597">注意事项</h4>
<p>登陆与登出默认使用 <b>user.login(remember)</b> , <b>user.logout()</b>, 如果未使用 <b>flask_maple/auth/model.py</b> 中的 <b>UserMixin</b>,则需要自己定义</p>

<h3 id="org-86442344">验证码</h3>
<p>使用 <b>Pillow</b> 生成验证码</p>

<div class="highlight"><pre><span></span><span class="n">pip</span> <span class="n">install</span> <span class="n">pillow</span>
</pre></div>


<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple</span> <span class="kn">import</span> <span class="n">Captcha</span>
<span class="n">captcha</span> <span class="o">=</span> <span class="n">Captcha</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>

<span class="c1"># 因为字体可能存在侵权，所以需要指定自己服务器字体, 默认为 /usr/share/fonts/TTF/DejaVuSans.ttf</span>
<span class="n">captcha</span> <span class="o">=</span> <span class="n">Captcha</span><span class="p">(</span><span class="n">app</span><span class="p">,</span> <span class="n">font</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="p">)</span>
</pre></div>

<p>然后访问 <a href="http://127.0.0.1/captcha">http://127.0.0.1/captcha</a></p>

<h4 id="org-10765786">配置</h4>
<div class="highlight"><pre><span></span><span class="n">CAPTCHA_URL</span> <span class="o">=</span> <span class="s2">&quot;The captcha url,default &#39;captcha&#39;&quot;</span>
</pre></div>


<h3 id="org-7866223">错误处理</h3>
<p>主要是对发生错误时的页面进行定制(403,404,500)
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple</span> <span class="kn">import</span> <span class="n">Error</span>
<span class="n">error</span> <span class="o">=</span> <span class="n">Error</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>
</p>

<p>定制图片源于<b>flask</b>官网,侵删</p>

<h3 id="org-4461701">邮箱</h3>
<p>依赖于 <b>flask-mail</b>, 区别使用多线程发送</p>

<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.mail</span> <span class="kn">import</span> <span class="n">Mail</span>

<span class="n">mail</span> <span class="o">=</span> <span class="n">Mail</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
<span class="n">mail</span><span class="o">.</span><span class="n">send_email</span><span class="p">(</span><span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
</pre></div>


<p>此外，还有一个 <b>MailMixin</b>,实现了邮箱验证需要的密钥,
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.mail</span> <span class="kn">import</span> <span class="n">MailMixin</span>

<span class="k">class</span> <span class="nc">User</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">,</span> <span class="n">MailMixin</span><span class="p">):</span>
    <span class="k">pass</span>

<span class="k">print</span><span class="p">(</span><span class="n">user</span><span class="o">.</span><span class="n">email_token</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">User</span><span class="o">.</span><span class="n">check_email_token</span><span class="p">(</span><span class="n">token</span><span class="p">,</span> <span class="n">max_age</span><span class="o">=</span><span class="mi">259200</span><span class="p">))</span>
</pre></div>

像django一样使用 <b>flask-sqlalchemy</b>
<b>djang orm</b> 与sqlalchemy相比,为什么很多人都认为django orm更好用,大概就是因为django orm更方便</p>
<h3 id="org-81024275">表单</h3>
<h3 id="org-72839507">数据库</h3>

<h4 id="org-2016436">基本查询(已实现)</h4>
<ul>
<li>gt</li>
<li>lt</li>
<li>lte</li>
<li>gte</li>
<li>contains</li>
<li>in</li>
<li>exact</li>
<li>iexact</li>
<li>startswith</li>
<li>istartswith</li>
<li>iendswith</li>
<li>endswith</li>
<li>isnull</li>
<li>range</li>
<li>year</li>
<li>month</li>
<li>day
</li>
</ul>
<p>示例:
<div class="highlight"><pre><span></span><span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">title__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
<span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">exclude_by</span><span class="p">(</span><span class="n">title__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
</pre></div>
</p>

<h4 id="org-73452045">关系查询</h4>
<div class="highlight"><pre><span></span><span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">tags__name__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
</pre></div>


<h4 id="org-85553284">其它</h4>
<div class="highlight"><pre><span></span><span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">tags__name__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="ow">or</span><span class="p">(</span><span class="n">Post</span><span class="o">.</span><span class="n">id</span> <span class="o">==</span> <span class="mi">1</span><span class="p">,</span><span class="n">Post</span><span class="o">.</span><span class="n">id</span> <span class="o">==</span> <span class="mi">2</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
<span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">tags__name__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="ow">and</span><span class="p">(</span><span class="n">Post</span><span class="o">.</span><span class="n">id</span> <span class="o">==</span> <span class="mi">1</span><span class="p">,</span><span class="n">Post</span><span class="o">.</span><span class="n">id</span> <span class="o">==</span> <span class="mi">2</span><span class="p">)</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
<span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">tags__name__contains</span> <span class="o">=</span> <span class="s1">&#39;sql&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">exists</span><span class="p">()</span>
<span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">load_only</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">)</span>
</pre></div>


<h3 id="org-25538110">序列化</h3>
<p>把 <b>sqlalchemy</b> 对象序列化为 <b>json</b>, 使用方法参考于 <b>django rest framework</b></p>

<h4 id="org-72072610">多个实例</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.serializer</span> <span class="kn">import</span> <span class="n">Serializer</span>

<span class="n">posts</span> <span class="o">=</span> <span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>
<span class="n">serializer</span> <span class="o">=</span> <span class="n">Serializer</span><span class="p">(</span><span class="n">posts</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">serializer</span><span class="o">.</span><span class="n">data</span>
</pre></div>


<h4 id="org-28764416">单个实例</h4>
<div class="highlight"><pre><span></span><span class="n">post</span> <span class="o">=</span> <span class="n">Post</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">first</span><span class="p">()</span>
<span class="n">serializer</span> <span class="o">=</span> <span class="n">Serializer</span><span class="p">(</span><span class="n">post</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">serializer</span><span class="o">.</span><span class="n">data</span>
</pre></div>


<h4 id="org-79026735">排除字段</h4>
<div class="highlight"><pre><span></span><span class="n">serializer</span> <span class="o">=</span> <span class="n">Seralizer</span><span class="p">(</span><span class="n">post</span><span class="p">,</span><span class="n">exclude</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;title&#39;</span><span class="p">])</span>
</pre></div>


<h4 id="org-94957480">仅包括字段</h4>
<div class="highlight"><pre><span></span><span class="n">serializer</span> <span class="o">=</span> <span class="n">Seralizer</span><span class="p">(</span><span class="n">post</span><span class="p">,</span><span class="n">include</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;title&#39;</span><span class="p">])</span>
</pre></div>


<h4 id="org-13966352">关系查询深度</h4>
<div class="highlight"><pre><span></span><span class="n">serializer</span> <span class="o">=</span> <span class="n">Seralizer</span><span class="p">(</span><span class="n">post</span><span class="p">,</span><span class="n">depth</span><span class="o">=</span><span class="mi">3</span><span class="p">)</span>
</pre></div>

<p>depth默认为<b>2</b></p>

<h4 id="org-46762139">额外的字段</h4>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Post</span><span class="p">(</span><span class="n">Model</span><span class="p">):</span>
    <span class="o">......</span>
    <span class="k">def</span> <span class="nf">get_post_count</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="mi">11</span>

<span class="n">serializer</span> <span class="o">=</span> <span class="n">Serializer</span><span class="p">(</span><span class="n">post</span><span class="p">,</span><span class="n">extra</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;get_post_count&#39;</span><span class="p">])</span>
</pre></div>


<h4 id="org-80606760">自定义</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.serializer</span> <span class="kn">import</span> <span class="n">Serializer</span>

<span class="k">class</span> <span class="nc">PostSerializer</span><span class="p">(</span><span class="n">Serializer</span><span class="p">):</span>
    <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">include</span> <span class="o">=</span> <span class="p">[]</span>
        <span class="n">depth</span> <span class="o">=</span> <span class="mi">2</span>
        <span class="n">include</span> <span class="o">=</span> <span class="p">[]</span>
        <span class="n">exclude</span> <span class="o">=</span> <span class="p">[]</span>
        <span class="n">extra</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;count&#39;</span><span class="p">]</span>

<span class="n">serializer</span> <span class="o">=</span> <span class="n">PostSerializer</span><span class="p">(</span><span class="n">post</span><span class="p">,</span><span class="n">include</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;title&#39;</span><span class="p">])</span>
</pre></div>


<h3 id="org-77598751">中间件</h3>
<p>参考于 <b>django</b>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.middleware</span> <span class="kn">import</span> <span class="n">Middleware</span>

<span class="n">app</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">Middleware</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>
</p>

<p>中间件写法(以一个简单的性能测试中间件为例)
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProfileMiddleware</span><span class="p">(</span><span class="nb">object</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">preprocess_request</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">pr</span> <span class="o">=</span> <span class="n">cProfile</span><span class="o">.</span><span class="n">Profile</span><span class="p">()</span>
        <span class="n">pr</span><span class="o">.</span><span class="n">enable</span><span class="p">()</span>
        <span class="n">request</span><span class="o">.</span><span class="n">pr</span> <span class="o">=</span> <span class="n">pr</span>

    <span class="k">def</span> <span class="nf">process_response</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">response</span><span class="p">):</span>
        <span class="n">pr</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">pr</span>
        <span class="n">pr</span><span class="o">.</span><span class="n">disable</span><span class="p">()</span>
        <span class="n">s</span> <span class="o">=</span> <span class="n">StringIO</span><span class="p">()</span>
        <span class="n">sortby</span> <span class="o">=</span> <span class="s1">&#39;cumulative&#39;</span>
        <span class="n">ps</span> <span class="o">=</span> <span class="n">pstats</span><span class="o">.</span><span class="n">Stats</span><span class="p">(</span><span class="n">pr</span><span class="p">,</span> <span class="n">stream</span><span class="o">=</span><span class="n">s</span><span class="p">)</span><span class="o">.</span><span class="n">sort_stats</span><span class="p">(</span><span class="n">sortby</span><span class="p">)</span>
        <span class="n">ps</span><span class="o">.</span><span class="n">print_stats</span><span class="p">()</span>
        <span class="k">print</span><span class="p">(</span><span class="n">s</span><span class="o">.</span><span class="n">getvalue</span><span class="p">())</span>
        <span class="k">return</span> <span class="n">response</span>
</pre></div>
</p>

<p><b>重要</b> ，需要加入中间件配置
<div class="highlight"><pre><span></span>MIDDLEWARE = [&quot;path.to.ProfileMiddleware&quot;]
</pre></div>
</p>

<h3 id="org-31326070">日志</h3>
<p>记录 <b>info</b> 和 <b>error</b> 两个日志level, 使用很简单
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.log</span> <span class="kn">import</span> <span class="n">Logging</span>

<span class="n">app</span> <span class="o">=</span> <span class="o">...</span>
<span class="n">Logging</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>
</p>

<p>配置文件
<div class="highlight"><pre><span></span><span class="n">LOGGING</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s1">&#39;info&#39;</span><span class="p">:</span> <span class="s1">&#39;logs/info.log&#39;</span><span class="p">,</span>   <span class="c1"># 记录info level的日志,与配置文件同级下的logs目录,可修改</span>
    <span class="s1">&#39;error&#39;</span><span class="p">:</span> <span class="s1">&#39;logs/error.log&#39;</span><span class="p">,</span> <span class="c1"># 记录error level的日志</span>
    <span class="s1">&#39;send_mail&#39;</span><span class="p">:</span> <span class="bp">False</span><span class="p">,</span>        <span class="c1"># 当有错误发生时，是否发送邮件到管理员邮箱</span>
    <span class="s1">&#39;toaddrs&#39;</span><span class="p">:</span> <span class="p">[],</span>             <span class="c1"># 管理员邮箱，可为多个</span>
    <span class="s1">&#39;subject&#39;</span><span class="p">:</span> <span class="s1">&#39;Your Application Failed&#39;</span><span class="p">,</span>
    <span class="s1">&#39;formatter&#39;</span><span class="p">:</span> <span class="s1">&#39;&#39;&#39;</span>
<span class="s1">            Message type:       </span><span class="si">%(levelname)s</span><span class="s1"></span>
<span class="s1">            Location:           </span><span class="si">%(pathname)s</span><span class="s1">:</span><span class="si">%(lineno)d</span><span class="s1"></span>
<span class="s1">            Module:             </span><span class="si">%(module)s</span><span class="s1"></span>
<span class="s1">            Function:           </span><span class="si">%(funcName)s</span><span class="s1"></span>
<span class="s1">            Time:               </span><span class="si">%(asctime)s</span><span class="s1"></span>

<span class="s1">            Message:</span>

<span class="s1">            </span><span class="si">%(message)s</span><span class="s1"></span>
<span class="s1">            &#39;&#39;&#39;</span>
<span class="p">}</span>
</pre></div>
</p>

<p>当<b>send_mail</b>为 <b>True</b>时, 配置依赖于 <b>flask_mail</b>的配置(主要是不想写多份)
<div class="highlight"><pre><span></span>MAIL_USERNAME
MAIL_PASSWORD
MAIL_SERVER
MAIL_PORT
MAIL_DEFAULT_SENDER
</pre></div>

创建两个常用的 <b>url</b></p>
<h3 id="org-34785406">App</h3>

<ul>
<li>/robots.txt</li>
<li>/favicon.ico
</li>
</ul>
<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.app</span> <span class="kn">import</span> <span class="n">App</span>

<span class="n">App</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>


<p>此外,因为国际化等原因,可以传递 <b>flask_maple.json.CustomJSONEncoder</b> 给App
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.app</span> <span class="kn">import</span> <span class="n">App</span>
<span class="kn">from</span> <span class="nn">flask_maple.json</span> <span class="kn">import</span> <span class="n">CustomJSONEncoder</span>

<span class="n">App</span><span class="p">(</span><span class="n">app</span><span class="p">,</span> <span class="n">json</span><span class="o">=</span><span class="n">CustomJSONEncoder</span><span class="p">)</span>
</pre></div>
</p>

<h4 id="org-10765786">配置</h4>
<p>参考于 django,可以懒加载 blueprint
<div class="highlight"><pre><span></span>INSTALLED_APPS = [
    &quot;path.to.blueprint1&quot;,
    &quot;path.to.blueprint2&quot;,
    {
        &quot;kwargs&quot;:{},
        &quot;blueprint&quot;:{}
    }
]
</pre></div>

主要是个人经常使用的一些模板,比如bootstrap的js,css文件，分页模板, 上下撑满等
并依赖于 <b>flask-assets</b> ,对js,css文件进行压缩</p>
<h3 id="org-51526690">Bootstrap</h3>

<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple</span> <span class="kn">import</span> <span class="n">Bootstrap</span>
<span class="n">bootstrap</span> <span class="o">=</span> <span class="n">Bootstrap</span><span class="p">(</span>
    <span class="n">app</span><span class="p">,</span>
    <span class="n">css</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;styles/monokai.css&#39;</span><span class="p">,</span> <span class="s1">&#39;styles/mine.css&#39;</span><span class="p">),</span>
    <span class="n">js</span><span class="o">=</span><span class="p">(</span><span class="s1">&#39;styles/upload.js&#39;</span><span class="p">,</span> <span class="s1">&#39;styles/forums.js&#39;</span><span class="p">,</span> <span class="s1">&#39;styles/following.js&#39;</span><span class="p">,</span>
        <span class="s1">&#39;styles/topic.js&#39;</span><span class="p">),</span>
    <span class="n">use_auth</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>


<p>或者
<div class="highlight"><pre><span></span><span class="n">bootstrap</span> <span class="o">=</span> <span class="n">Bootstrap</span><span class="p">()</span>
<span class="n">bootstrap</span><span class="o">.</span><span class="n">init_app</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>
</p>

<h4 id="org-81438631">模板</h4>
<div class="highlight"><pre><span></span>{% extends &#39;maple/base.html&#39; %}
{% block main -%}
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;btn btn-primary&quot;</span><span class="p">&gt;</span>submit<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;glyphicon glyphicon-search&quot;</span> <span class="na">aria-hidden</span><span class="o">=</span><span class="s">&quot;true&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
{% endblock -%}
</pre></div>


<h4 id="org-10765786">配置</h4>
<div class="highlight"><pre><span></span><span class="n">AUTHOR_NAME</span> <span class="o">=</span> <span class="s2">&quot;This will show you name at html footer&quot;</span>
</pre></div>


<h3 id="org-25850246">Redis</h3>
<p>默认会加载 <b>rediscluster.StrictRedisCluster</b> ,如果rediscluster未安装则加载 <b>redis.StrictRedis</b></p>

<h4 id="org-85837950">使用</h4>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask_maple.redis</span> <span class="kn">import</span> <span class="n">Redis</span>

<span class="n">redis</span> <span class="o">=</span> <span class="n">Redis</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>

<span class="c1"># 像平时使用redispy一样使用</span>
<span class="k">print</span><span class="p">(</span><span class="n">redis</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="o">...</span><span class="p">))</span>
</pre></div>


<h4 id="org-10765786">配置</h4>
<div class="highlight"><pre><span></span>REDSI = {...}
</pre></div>


<p>There are <a href="../articles/2018/02/flask_maple文档.html#disqus_thread">comments</a>.</p>
                </div>
            </article>
                <ul class="entry-list">
            <li><article>
                <h1 class="entry-title"><a href="../articles/2018/01/lua gist.html" rel="bookmark" title="Permalink to lua gist">lua gist</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-02-04">
    <i class="fa fa-calendar-o"></i>
    一 29 一月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/coding/index.html">coding</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/lua/index.html">lua</a>
    <a href="../tag/coding/index.html">coding</a>
  </span>
</header>                <hr class="entry-hr" />
                <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-95787505">lua分割字符串</a></li>
</ul>
</div></div>


<h3 id="org-95787505">lua分割字符串</h3>
<div class="highlight"><pre><span></span><span class="kd">local</span> <span class="n">ngx_find</span>    <span class="o">=</span> <span class="n">ngx</span><span class="p">.</span><span class="n">re</span><span class="p">.</span><span class="n">find</span>

<span class="kd">local</span> <span class="kr">function</span> <span class="nf">split</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="n">sep</span> <span class="p">,</span> <span class="n">count</span><span class="p">)</span>
    <span class="kd">local</span> <span class="n">t</span> <span class="o">=</span> <span class="p">{}</span>
    <span class="n">count</span> <span class="o">=</span> <span class="n">count</span> <span class="ow">or</span> <span class="o">-</span><span class="mi">1</span>

    <span class="kd">local</span> <span class="n">nfield</span><span class="p">,</span> <span class="n">nstart</span> <span class="o">=</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">1</span>
    <span class="kd">local</span> <span class="n">nfirst</span><span class="p">,</span><span class="n">nlast</span> <span class="o">=</span> <span class="nb">string.find</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="n">sep</span><span class="p">)</span>
    <span class="c1">-- local nfirst,nlast = ngx_find(str, sep, &quot;jo&quot;)</span>
    <span class="kr">while</span> <span class="n">nfirst</span> <span class="ow">and</span> <span class="n">count</span> <span class="o">~=</span> <span class="mi">0</span> <span class="kr">do</span>
        <span class="n">t</span><span class="p">[</span><span class="n">nfield …</span></pre></div>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2018/01/lua gist.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2018/01/emacs自动更新文件头.html" rel="bookmark" title="Permalink to emacs自动更新文件头">emacs自动更新文件头</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-01-14">
    <i class="fa fa-calendar-o"></i>
    二 09 一月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/linux/index.html">Linux</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/linux/index.html">linux</a>
    <a href="../tag/emacs/index.html">emacs</a>
  </span>
</header>                <hr class="entry-hr" />
                <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-10626316">自动更新Last Updated</a></li>
<li><a href="#org-71116359">自动更新Filename</a></li>
<li><a href="#org-81365469">自动更新Email</a></li>
</ul>
</div></div>



<p>前面已经说过，可以使用<b>auto-insert</b>自动添加文件头，今天来说一说自动更新文件头，比如说每次保存时自动更新<b>last updated</b>字段</p>


<h3 id="org-10626316">自动更新Last Updated</h3>
<p>如果使用的是header2,直接设置相关的变量就可，假如使用的是<b>auto-insert</b>，同样也可以使用emacs内置的<b>time-stamp</b>对Last Updated进行自动更新</p>

<p>time-stamp默认使用<code>Time-stamp:</code>,如果要对<code>Last Updated</code>进行自动更新，只需要简单的设置
<div class="highlight"><pre><span></span><span class="p">(</span><span class="k">setq</span> <span class="nv">time-stamp-active</span> <span class="no">t</span><span class="p">)</span>
<span class="p">(</span><span class="k">setq</span> <span class="nv">time-stamp-line-limit</span> <span class="mi">11</span><span class="p">)</span>
<span class="p">(</span><span class="k">setq</span> <span class="nv">time-stamp-start</span> <span class="s">&quot;[lL]ast[ -][uU]pdate[ \t]*:?&quot;</span><span class="p">)</span>
<span class="p">(</span><span class="k">setq</span> <span class="nv">time-stamp-end</span> <span class="s">&quot;\n …</span></pre></div></p>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2018/01/emacs自动更新文件头.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2018/01/emacs自动添加文件头.html" rel="bookmark" title="Permalink to emacs自动添加文件头">emacs自动添加文件头</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-01-14">
    <i class="fa fa-calendar-o"></i>
    一 08 一月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/linux/index.html">Linux</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/linux/index.html">linux</a>
    <a href="../tag/emacs/index.html">emacs</a>
  </span>
</header>                <hr class="entry-hr" />
                <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-93067416">基础使用</a></li>
<li><a href="#org-20215040">自定义文件头</a></li>
<li><a href="#org-1181271">提取文件头公共信息</a></li>
</ul>
</div></div>



<p>想要在emacs中添加文件头有好几种方法:</p>
<ul>
<li>直接手打</li>
<li>使用模板yasnippet</li>
<li>使用header2</li>
<li>使用内置的package <b>auto-insert</b>
</li>
</ul>
<p>header2可能是最方便的一种自动添加文件头的方式，但我之前使用过，想要自定义自己想要的内容很难，而且白白浪费header2的功能</p>

<p>今天主要说一说emacs内置里<b>auto-insert</b>,使用它在创建文件时自动添加文件头信息</p>

<h3 id="org-93067416">基础使用</h3>
<p>直接<code>(auto-insert-mode)</code>
并且设置
<div class="highlight"><pre><span></span>(setq auto-insert-query nil) ;; 不提醒
</pre></div>
</p>

<h3 id="org-20215040">自定义文件头</h3>
<div class="highlight"><pre><span></span><span class="p">(</span><span class="k">setq</span> <span class="nv">auto-insert-alist</span>
      <span class="o">&#39;</span><span class="p">(((</span><span class="nv">python-mode</span> <span class="o">.</span> <span class="s">&quot;Python program&quot;</span><span class="p">)</span> <span class="no">nil</span>
         <span class="s">&quot;#!/usr/bin/env python\n&quot;</span>
         <span class="s">&quot;# -*- coding: utf-8 -*-\n&quot;</span>
         <span class="s">&quot;# **************************************************************************\n&quot;</span>
         <span class="s">&quot;# Copyright © &quot;</span> <span class="p">(</span><span class="nf">substring</span> <span class="p">(</span><span class="nf">current-time-string</span><span class="p">)</span> <span class="mi">-4</span><span class="p">)</span> <span class="s">&quot; &quot;</span> <span class="p">(</span><span class="nf">user-full-name</span><span class="p">)</span> <span class="s">&quot;\n …</span></pre></div>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2018/01/emacs自动添加文件头.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2018/01/helm与ivy简单对比.html" rel="bookmark" title="Permalink to helm与ivy简单对比">helm与ivy简单对比</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-01-26">
    <i class="fa fa-calendar-o"></i>
    六 06 一月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/linux/index.html">Linux</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/linux/index.html">linux</a>
    <a href="../tag/emacs/index.html">emacs</a>
  </span>
</header>                <hr class="entry-hr" />
                <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-69389234">counsel-find-file</a></li>
<li><a href="#org-43876094">tab键</a></li>
<li><a href="#org-80057801">记忆多个按键</a></li>
<li><a href="#org-88766867">模糊搜索</a></li>
<li><a href="#org-1390253">候选词按使用频率排序</a></li>
<li><a href="#org-31058300">minibuffer</a></li>
<li><a href="#org-94661956">dired中复制或重命名文件</a></li>
<li><a href="#org-79565840">sudo edit</a></li>
</ul>
</div></div>



<blockquote>
<p>我为什么放弃ivy回到了helm</p>
</blockquote>

<p>说一说ivy用的不爽的地方吧</p>

<h3 id="org-69389234">counsel-find-file</h3>
<p>counsel-find-file作为最常用的命令,ivy竟然没有把默认的find-file进行覆写，比如我在dired中想要复制文件，我习惯使用<code>C-h</code>退回上一个目录，但即使我之前已经设置了
<div class="highlight"><pre><span></span><span class="nb">:map</span> <span class="nv">counsel-find-file-map</span>
<span class="p">(</span><span class="s">&quot;C-h&quot;</span> <span class="o">.</span> <span class="nv">counsel-up-directory</span><span class="p">)</span>
</pre></div>

但只有在使用<code>counsel-find-file</code>时有效,类似dired中是无效的，相比较于<code>helm-find-files</code>把<code>find-file</code>进行覆写，无论何时都能使用自己自定义的按键，这很不爽</p>

<h3 id="org-43876094">tab键</h3>
<p>在<b>helm</b>中，tab仅作为补全使用，想要打开选中项，则需要按一下<code>enter</code>键,而在<b>ivy</b>中 …</p>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2018/01/helm与ivy简单对比.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2018/01/关于时间与空间的猜想.html" rel="bookmark" title="Permalink to 关于时间与空间的猜想">关于时间与空间的猜想</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-01-14">
    <i class="fa fa-calendar-o"></i>
    一 01 一月 2018
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/life/index.html">Life</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/life/index.html">life</a>
  </span>
</header>                <hr class="entry-hr" />
                
<ul>
<li>背景
<p>不知道从何时开始，就听过这样一个说法: 如果人类所达到的速度超越光速,那么人类将穿越时空。前些年网文电视剧可谓穿越盛行，今天我也来胡言乱语一番!</p>
</li>
<li>胡言乱语
<p>光从某一<b>点x</b>出发，在其经过的路径范围内，有一不同于光所在<b>空间y</b>的<b>空间z</b>，z的时间流速与y空间的时间流速不一样，或者说<b>z空间的时间流速小于于y空间的流速</b>，即z空间一天，y空间一年。</p>

<p>由此就可发现，当y空间内的光从x点出发，在经过z空间范围内时，由于在z，y空间时间流速不一致，原本到达<b>k点</b> (x到k的距离大于x到z空间的距离)所花费的时间为1s，但z空间的存在，需要花费0.3s才能通过z空间的范围，现在只需要<b>远小于0.3s</b>的时间就能通过z空间的范围。</p>

<p>相对于y空间而言，原本需要花费1s才能到达k点，现在也许只需要0.8s，如果简单按照速度公式v=S/t,光速将超越299792458m/s,相对而言，y空间与z空间也会有所谓的穿越。</p>

</li>
</ul>
<p>当然 …</p>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2018/01/关于时间与空间的猜想.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2017/12/linux tips.html" rel="bookmark" title="Permalink to linux tips">linux tips</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="Updated at 2018-01-17">
    <i class="fa fa-calendar-o"></i>
    二 19 十二月 2017
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/linux/index.html">Linux</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/linux/index.html">linux</a>
  </span>
</header>                <hr class="entry-hr" />
                <div id="table-of-contents"><h2>Table of Contents</h2><div id="text-table-of-contents"><ul>
<li><a href="#org-70878023">获取文件压缩后的md5</a></li>
<li><a href="#org-51704095">zip打包排除文件</a></li>
<li><a href="#org-22042672">linux下gif播放</a></li>
</ul>
</div></div>


<h2 id="org-70878023">获取文件压缩后的md5</h2>
<div class="highlight"><pre><span></span>tar -cf - action_plugins/ group_vars/ | md5sum
</pre></div>


<h2 id="org-51704095">zip打包排除文件</h2>
<div class="highlight"><pre><span></span>zip -r -x=.git/* -x=*.pyc ../release.py *
</pre></div>


<h2 id="org-22042672">linux下gif播放</h2>
<p><b>feh</b>只支持静态文件,可用
<div class="highlight"><pre><span></span>animate output.gif
</pre></div>
</p>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2017/12/linux tips.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2017/12/十二月十日小记.html" rel="bookmark" title="Permalink to 十二月十日小记">十二月十日小记</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="2017-12-10T23:10:26+08:00">
    <i class="fa fa-calendar-o"></i>
    日 10 十二月 2017
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/life/index.html">Life</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/life/index.html">life</a>
  </span>
</header>                <hr class="entry-hr" />
                
<p>今天真是不错的一天</p>

<blockquote>
<p>今天出门，在电梯遇到一人，“小伙子，你有二十了吧”，“我今年二十X了”，“我看你不到二十的样子”，“我以为我看起来挺老的”，“怎么会。。。”</p>
</blockquote>

<blockquote>
<p>以前只是在电视新闻上看到有人直接撞到玻璃门上，其实真不怪他们，有时候玻璃门真看起来没有一样。我今天就这样直接撞上去了，说实话，还真疼</p>
</blockquote>

<blockquote>
<p>附几张今天用手机拍的照片，昨天用相机拍的raw格式暂时打不开/捂脸</p>
</blockquote>

<div class="row">
  <div class="col-md-6">
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_153834.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_153834.jpg-thumb" class="lazyload" /></a>
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154518.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154518.jpg-thumb" class="lazyload" /></a>
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154530.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154530.jpg-thumb" class="lazyload" /></a>
  </div>
  <div class="col-md-6">
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/PANO_20171210_154546.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/PANO_20171210_154546.jpg-thumb" class="lazyload" /></a>
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154137.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154137.jpg-thumb" class="lazyload" /></a>
    <a href="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154951.jpg-show" data-fancybox="image"><img data-src="https://honmaple.b0.upaiyun.com/images/jpg/2017/12/IMG_20171210_154951.jpg-thumb" class="lazyload" /></a>
  </div>
</div>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2017/12/十二月十日小记.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
            <li><article>
                <h1 class="entry-title"><a href="../articles/2017/12/python尾递归优化.html" rel="bookmark" title="Permalink to python尾递归优化">python尾递归优化</a></h1>
                <div class="entry-content">
<header class="entry-info">
  <span class="entry-info-date" title="2017-12-04T10:23:56+08:00">
    <i class="fa fa-calendar-o"></i>
    一 04 十二月 2017
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="entry-info-author hidden-xs">
    <i class="fa fa-user-o"></i>
    By <a href="../author/honmaple.html">honmaple</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-category">
    <i class="fa fa-folder-o"></i>
    In <a href="../category/coding/index.html">coding</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span class="entry-info-tag">
    <i class="fa fa-bookmark-o"></i>
    tags:
    <a href="../tag/python/index.html">python</a>
  </span>
</header>                <hr class="entry-hr" />
                

<p>参考 <a href="https://segmentfault.com/a/1190000007641519">这里</a></p>

<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">TailRecurseException</span><span class="p">(</span><span class="ne">BaseException</span><span class="p">):</span>
    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">args</span><span class="p">,</span> <span class="n">kwargs</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">args</span> <span class="o">=</span> <span class="n">args</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">kwargs</span> <span class="o">=</span> <span class="n">kwargs</span>


<span class="k">def</span> <span class="nf">tail_call_optimized</span><span class="p">(</span><span class="n">g</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    This function decorates a function with tail call</span>
<span class="sd">    optimization. It does this by throwing an exception</span>
<span class="sd">    if it is it&#39;s own grandparent, and catching such</span>
<span class="sd">    exceptions to fake the …</span></pre></div>
                  <div class="text-center">
                    <a class="btn entry-read-more" href="../articles/2017/12/python尾递归优化.html">阅读全文 »</a>
                  </div>
                </div>
            </article></li>
  <ul class="entry-pagination">
         <li class="active"><a href="../author/honmaple.html">1</a></li>
         <li ><a href="../author/honmaple2.html">2</a></li>
         <li ><a href="../author/honmaple3.html">3</a></li>
         <li>......</li>
         <li ><a href="../author/honmaple13.html">13</a></li>
         <li ><a href="../author/honmaple14.html">14</a></li>
         <li ><a href="../author/honmaple15.html">15</a></li>
      <li class="next"><a href="../author/honmaple2.html">&raquo;</a></li>
  </ul>
                </ul>
        </div>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-7 col-center">
<div class="footer">
  <ul class="list-inline entry-social">
    <li><a class="entry-theme" title="Moon"><i class="fa fa-moon-o"></i></a></li>
    <li ><a href="../pages/music.html" title="Music"><i class="fa fa-music"></i></a></li>
    <li class="hidden-xs"><a href="../feeds/all.rss.xml" title="Feed"><i class="fa fa-feed"></i></a></li>
    <li ><a href="https://github.com/honmaple" title="GitHub"><i class="fa fa-github"></i></a></li>
    <li ><a href="../pages/travel.html" title="Camera"><i class="fa fa-camera"></i></a></li>
  </ul>
  <ul class="list-inline copyright">
    <li class="hidden-xs">© 2015-2018 honmaple</li>
    <li class="hidden-xs">·</li>
    <li>
      <a href="../pages/about.html">关于</a>
      <span> | </span>
      <a href="../pages/contact.html">联系</a>
      <span> | </span>
      <a href="../pages/friends.html">友链</a>
    </li>
  </ul>
</div>      <div class="back-to-top back-to-top-on">
        <i class="fa fa-hand-o-up" title="back to top"></i>
      </div>
    </div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88401692-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-88401692-2');
</script>
    <script src="https://cdn.bootcss.com/lazysizes/4.0.1/lazysizes.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.bootcss.com/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script src="../theme/js/script.min.js"></script>
  </body>
</html>