#banner {
    padding: 85px 0;
}

/*#tipue_search_input {*/
/*padding: 9px 12px 9px 40px;*/
/*background-position: 15px 13px;*/
/*}*/
body {
    font-size: 17px;
}
header h1 {
    font-size: 32px;
}
article h2 {
    font-size: 30px;
}
article h3 {
     font-size: 24px;
}
